Repository jetty/jetty.project, pull requests merged in 2018-06, with the labels that each got.

#2629 Issue #2135 - proposal for Android 8.1 with SSL and direct buffers
  jetty-io/src/main/java/org/eclipse/jetty/io/ssl/SslClientConnectionFactory.java
  jetty-io/src/main/java/org/eclipse/jetty/io/ssl/SslConnection.java
  jetty-io/src/test/java/org/eclipse/jetty/io/SslConnectionTest.java
  jetty-server/src/main/java/org/eclipse/jetty/server/SslConnectionFactory.java
  jetty-websocket/websocket-client/src/main/java/org/eclipse/jetty/websocket/client/io/WebSocketClientSelectorManager.java
Labels: Enhancement, Sponsored

#2635 [WIP] Issue #2597 - Improving UnixSocketTest behavior.
  Jenkinsfile
  jetty-unixsocket/src/test/java/org/eclipse/jetty/unixsocket/UnixSocketTest.java
  jetty-util/src/test/java/org/eclipse/jetty/util/resource/ResourceTest.java
  pom.xml
Labels: Test, Windows, wip

#2608 Issue #2594 - fix to SaveOptimizeTest failures due to timing issues
  tests/test-sessions/test-sessions-common/src/main/java/org/eclipse/jetty/server/session/TestContextScopeListener.java
  tests/test-sessions/test-sessions-common/src/main/java/org/eclipse/jetty/server/session/TestSessionDataStore.java
  tests/test-sessions/test-sessions-common/src/test/java/org/eclipse/jetty/server/session/SaveOptimizeTest.java
Labels: Test, Windows

#2511 Jetty 9.4.x 2501 accept listener
  jetty-documentation/src/main/asciidoc/configuring/connectors/configuring-connectors.adoc
  jetty-io/src/main/java/org/eclipse/jetty/io/AbstractConnection.java
  jetty-io/src/main/java/org/eclipse/jetty/io/ManagedSelector.java
  jetty-io/src/main/java/org/eclipse/jetty/io/SelectorManager.java
  jetty-server/src/main/config/etc/jetty-acceptratelimit.xml
  jetty-server/src/main/config/etc/jetty-connectionlimit.xml
  jetty-server/src/main/config/modules/acceptratelimit.mod
  jetty-server/src/main/config/modules/connectionlimit.mod
  jetty-server/src/main/java/org/eclipse/jetty/server/AcceptRateLimit.java
  jetty-server/src/main/java/org/eclipse/jetty/server/ConnectionLimit.java
  jetty-server/src/main/java/org/eclipse/jetty/server/LowResourceMonitor.java
  jetty-server/src/main/java/org/eclipse/jetty/server/ServerConnector.java
  jetty-server/src/test/java/org/eclipse/jetty/server/NotAcceptingTest.java
  jetty-server/src/test/resources/jetty-logging.properties
  jetty-util/src/main/java/org/eclipse/jetty/util/statistic/RateStatistic.java
  jetty-util/src/test/java/org/eclipse/jetty/util/statistic/CounterStatisticTest.java
  jetty-util/src/test/java/org/eclipse/jetty/util/statistic/RateStatisticTest.java
Labels: Enhancement, Sponsored
