Repository jetty/jetty.project, pull requests merged in 2020-07, with the labels that each got.

#4943 Update startup-unix-service.adoc
  jetty-documentation/src/main/asciidoc/administration/startup/startup-unix-service.adoc
Labels: Documentation

#5058 Issue #5057 - Included root context path
  jetty-server/src/main/java/org/eclipse/jetty/server/Dispatcher.java
  jetty-server/src/main/java/org/eclipse/jetty/server/Server.java
  jetty-server/src/main/java/org/eclipse/jetty/server/handler/ContextHandler.java
  jetty-servlet/src/test/java/org/eclipse/jetty/servlet/IncludedServletTest.java
Labels: Bug, Specification

#5070 Issue #5069 - Fixing assumeConnectTimeout test condition
  pom.xml
  tests/test-http-client-transport/src/test/java/org/eclipse/jetty/http/client/HttpClientTimeoutTest.java
Labels: Test

#5102 Issue #3916 - Fix whitespace between boundary and part headers
  jetty-servlet/src/test/java/org/eclipse/jetty/servlet/DefaultServletRangesTest.java
  jetty-util/src/main/java/org/eclipse/jetty/util/MultiPartOutputStream.java
Labels: Bug, Specification
