Repository jetty/jetty.project, pull requests merged in 2022-10, with the labels that each got.

#8674 codeql make log readable with using batch mode -B
  .github/workflows/codeql-analysis.yml
Labels: Build

#8621 Fix Caching ContentFactories in Jetty-12
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/CachingContentFactory.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/PrecompressedHttpContent.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/CachedContentFactory.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/ResourceContentFactory.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ResourceHandler.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/ResourceCacheTest.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/ResourceHandlerTest.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/Resource.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/DefaultServlet.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextResponse.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/DefaultServletTest.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/CachedContentFactory.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ResourceContentFactory.java
  jetty-ee9/jetty-ee9-servlet/src/test/java/org/eclipse/jetty/ee9/servlet/DefaultServletTest.java
Labels: jetty 12

#8684 Issue #8576 use jackson bom
  jetty-maven-plugin/src/it/it-parent-pom/pom.xml
  pom.xml
Labels: Build

#8687 Fix bad Javascript `replace` usage in demos / test
  demos/demo-jetty-webapp/src/main/webapp/chat/index.html
  demos/demo-jetty-webapp/src/main/webapp/javax.websocket/index.html
  demos/demo-jetty-webapp/src/main/webapp/ws/index.html
  jetty-websocket/websocket-javax-tests/src/test/webapp/index.html
Labels: Bug

#8686 move flatten mojo configuration in top pom, fix boms and remove non needed content
  jetty-bom/pom.xml
  jetty-core/jetty-bom/pom.xml
  jetty-ee10/jetty-ee10-bom/pom.xml
  jetty-ee8/jetty-ee8-bom/pom.xml
  jetty-ee9/jetty-ee9-bom/pom.xml
  pom.xml
Labels: jetty 12

#8629 Issue #8628 - pseudo restore `PathMappings.getMatch(String)`
  jetty-http/src/main/java/org/eclipse/jetty/http/pathmap/PathMappings.java
Labels: Enhancement

#8688 Fix traversal bug on extraction of bad jar/zip files during jetty-start
  jetty-start/src/main/java/org/eclipse/jetty/start/FS.java
  jetty-start/src/test/java/org/eclipse/jetty/start/FSTest.java
  jetty-start/src/test/resources/bad-libs/escaper.zip
Labels: Bug

#8692 Jetty 12 - Remove deprecated methods from QoSFilter
  jetty-ee10/jetty-ee10-servlets/src/main/java/org/eclipse/jetty/ee10/servlets/QoSFilter.java
  jetty-ee9/jetty-ee9-servlets/src/main/java/org/eclipse/jetty/ee9/servlets/QoSFilter.java
Labels: jetty 12

#8685 [Jetty 12] Made WebSocket over HTTP/2 work.
  jetty-core/jetty-fcgi/jetty-fcgi-server/src/main/java/org/eclipse/jetty/fcgi/server/internal/HttpStreamOverFCGI.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/CachingContentFactory.java
  jetty-core/jetty-http2/jetty-http2-common/src/main/java/org/eclipse/jetty/http2/internal/HTTP2StreamEndPoint.java
  jetty-core/jetty-http2/jetty-http2-hpack/src/main/java/module-info.java
  jetty-core/jetty-http2/jetty-http2-server/src/main/java/org/eclipse/jetty/http2/server/internal/HttpChannelOverHTTP2.java
  jetty-core/jetty-http2/jetty-http2-server/src/main/java/org/eclipse/jetty/http2/server/internal/HttpStreamOverHTTP2.java
  jetty-core/jetty-http2/jetty-http2-server/src/main/java/org/eclipse/jetty/http2/server/internal/HttpTransportOverHTTP2.java
  jetty-core/jetty-http2/jetty-http2-tests/pom.xml
  jetty-core/jetty-http2/jetty-http2-tests/src/test/java/org/eclipse/jetty/http2/tests/ProxyTest.java
  jetty-core/jetty-http2/jetty-http2-tests/src/test/java/org/eclipse/jetty/http2/tests/ReverseProxyTest.java
  jetty-core/jetty-http3/jetty-http3-server/src/main/java/org/eclipse/jetty/http3/server/internal/HttpStreamOverHTTP3.java
  jetty-core/jetty-proxy/pom.xml
  jetty-core/jetty-proxy/src/main/java/org/eclipse/jetty/proxy/ProxyHandler.java
  jetty-core/jetty-proxy/src/test/java/org/eclipse/jetty/proxy/ForwardProxyWithDynamicTransportTest.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/HttpStream.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ConnectHandler.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/internal/HttpChannelState.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/internal/HttpConnection.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/CustomRequestLogTest.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/HttpChannelTest.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/MockHttpStream.java
  jetty-core/jetty-websocket/jetty-websocket-core-server/src/main/java/org/eclipse/jetty/websocket/core/server/internal/AbstractHandshaker.java
  jetty-core/jetty-websocket/jetty-websocket-core-server/src/main/java/org/eclipse/jetty/websocket/core/server/internal/RFC8441Handshaker.java
  jetty-core/jetty-websocket/jetty-websocket-core-server/src/main/java/org/eclipse/jetty/websocket/core/server/internal/RFC8441Negotiation.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletChannel.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextHandler.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/AsyncServletTest.java
  jetty-ee10/jetty-ee10-webapp/src/test/java/org/eclipse/jetty/ee10/webapp/HugeResourceTest.java
  jetty-ee10/jetty-ee10-webapp/src/test/resources/jetty-logging.properties
  jetty-ee10/jetty-ee10-websocket/jetty-ee10-websocket-jetty-server/src/main/java/org/eclipse/jetty/ee10/websocket/server/JettyWebSocketCreator.java
  jetty-ee10/jetty-ee10-websocket/jetty-ee10-websocket-jetty-server/src/main/java/org/eclipse/jetty/ee10/websocket/server/JettyWebSocketServlet.java
  jetty-ee10/jetty-ee10-websocket/jetty-ee10-websocket-jetty-server/src/main/java/org/eclipse/jetty/ee10/websocket/server/internal/DelegatedServerUpgradeRequest.java
  jetty-ee10/jetty-ee10-websocket/jetty-ee10-websocket-jetty-tests/src/test/java/org/eclipse/jetty/ee10/websocket/tests/WebSocketOverHTTP2Test.java
  jetty-ee10/jetty-ee10-websocket/jetty-ee10-websocket-jetty-tests/src/test/resources/jetty-logging.properties
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/HttpChannel.java
  jetty-ee9/jetty-ee9-websocket/jetty-ee9-websocket-jetty-server/src/main/java/org/eclipse/jetty/ee9/websocket/server/JettyWebSocketCreator.java
  jetty-ee9/jetty-ee9-websocket/jetty-ee9-websocket-jetty-tests/src/test/java/org/eclipse/jetty/ee9/websocket/tests/WebSocketOverHTTP2Test.java
  pom.xml
Labels: jetty 12

#8693 Jetty 12 - Cherry-Pick of Servlet PathMapping improvements around RegexPathSpec
  jetty-ee10/jetty-ee10-maven-plugin/src/test/resources/jetty-logging.properties
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/Dispatcher.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextHandler.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextRequest.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletHandler.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletPathMapping.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ServletPathMapping.java
  jetty-ee9/jetty-ee9-nested/src/test/java/org/eclipse/jetty/ee9/nested/RequestTest.java
  jetty-ee9/jetty-ee9-servlet/src/main/java/org/eclipse/jetty/ee9/servlet/ServletHandler.java
  jetty-ee9/jetty-ee9-servlet/src/test/java/org/eclipse/jetty/ee9/servlet/RegexServletTest.java
Labels: jetty 12

#8697 simplify poms, add back missing changes from #7850 and #7687
  build/build-resources/pom.xml
  jetty-core/jetty-http-spi/pom.xml
  jetty-core/jetty-quic/jetty-quic-quiche/jetty-quic-quiche-foreign-incubator/pom.xml
  jetty-core/jetty-quic/jetty-quic-quiche/jetty-quic-quiche-jna/pom.xml
  jetty-core/jetty-websocket/jetty-websocket-core-tests/pom.xml
  jetty-ee10/jetty-ee10-ant/pom.xml
  jetty-ee10/jetty-ee10-apache-jsp/pom.xml
  jetty-ee10/jetty-ee10-glassfish-jstl/pom.xml
  jetty-ee10/jetty-ee10-jspc-maven-plugin/pom.xml
  jetty-ee10/jetty-ee10-maven-plugin/src/it/jetty-start-war-distro-mojo-it/jetty-simple-webapp/pom.xml
  jetty-ee10/jetty-ee10-maven-plugin/src/it/jetty-start-war-forked-mojo-it/jetty-simple-webapp/pom.xml
  jetty-ee10/jetty-ee10-osgi/pom.xml
  jetty-ee10/jetty-ee10-osgi/test-jetty-ee10-osgi-context/pom.xml
  jetty-ee10/jetty-ee10-osgi/test-jetty-ee10-osgi-fragment/pom.xml
  jetty-ee10/jetty-ee10-osgi/test-jetty-ee10-osgi-server/pom.xml
  jetty-ee10/jetty-ee10-osgi/test-jetty-ee10-osgi-webapp-resources/pom.xml
  jetty-ee10/jetty-ee10-osgi/test-jetty-ee10-osgi-webapp/pom.xml
  jetty-ee10/jetty-ee10-osgi/test-jetty-ee10-osgi/pom.xml
  jetty-ee10/jetty-ee10-tests/pom.xml
  jetty-ee10/jetty-ee10-websocket/jetty-ee10-websocket-jakarta-tests/pom.xml
  jetty-ee10/jetty-ee10-websocket/jetty-ee10-websocket-jetty-tests/pom.xml
  jetty-ee8/jetty-ee8-apache-jsp/pom.xml
  jetty-ee8/jetty-ee8-glassfish-jstl/pom.xml
  jetty-ee8/jetty-ee8-jspc-maven-plugin/pom.xml
  jetty-ee8/jetty-ee8-maven-plugin/src/it/jetty-start-war-distro-mojo-it/jetty-simple-webapp/pom.xml
  jetty-ee8/jetty-ee8-maven-plugin/src/it/jetty-start-war-forked-mojo-it/jetty-simple-webapp/pom.xml
  jetty-ee8/jetty-ee8-websocket/jetty-ee8-websocket-javax-tests/pom.xml
  jetty-ee8/jetty-ee8-websocket/jetty-ee8-websocket-jetty-tests/pom.xml
  jetty-ee9/jetty-ee9-ant/pom.xml
  jetty-ee9/jetty-ee9-apache-jsp/pom.xml
  jetty-ee9/jetty-ee9-glassfish-jstl/pom.xml
  jetty-ee9/jetty-ee9-jspc-maven-plugin/pom.xml
  jetty-ee9/jetty-ee9-maven-plugin/src/it/jetty-start-war-distro-mojo-it/jetty-simple-webapp/pom.xml
  jetty-ee9/jetty-ee9-maven-plugin/src/it/jetty-start-war-forked-mojo-it/jetty-simple-webapp/pom.xml
  jetty-ee9/jetty-ee9-osgi/pom.xml
  jetty-ee9/jetty-ee9-tests/pom.xml
  pom.xml
Labels: Build

#8630 Jetty 12 - Restrict `ResourceCollection` to only hold directory entries
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/ResourceListingTest.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/ResourceCollection.java
Labels: jetty 12

#8700 Jetty 10.0.x: disable Foreign module tests on JDK18+
  jetty-quic/quic-quiche/quic-quiche-foreign-incubator/pom.xml
Labels: Bug

#8689 Fix jaas demos
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-jaas-webapp/pom.xml
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-jaas-webapp/src/main/config/modules/demo.d/ee10-demo-jaas.xml
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-jaas-webapp/src/main/config/modules/ee10-demo-jaas.mod
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-jaas-webapp/src/main/etc/ee10-demo-login.conf
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-jaas-webapp/src/main/webapp/index.html
  jetty-ee8/jetty-ee8-demos/jetty-ee8-demo-jaas-webapp/pom.xml
  jetty-ee8/jetty-ee8-demos/jetty-ee8-demo-jaas-webapp/src/main/config/modules/demo.d/ee8-demo-jaas.xml
  jetty-ee8/jetty-ee8-demos/jetty-ee8-demo-jaas-webapp/src/main/config/modules/ee8-demo-jaas.mod
  jetty-ee8/jetty-ee8-demos/jetty-ee8-demo-jaas-webapp/src/main/etc/ee8-demo-login.conf
  jetty-ee9/jetty-ee9-demos/jetty-ee9-demo-jaas-webapp/pom.xml
  jetty-ee9/jetty-ee9-demos/jetty-ee9-demo-jaas-webapp/src/main/config/modules/demo.d/ee9-demo-jaas.xml
  jetty-ee9/jetty-ee9-demos/jetty-ee9-demo-jaas-webapp/src/main/config/modules/ee9-demo-jaas.mod
  jetty-ee9/jetty-ee9-demos/jetty-ee9-demo-jaas-webapp/src/main/etc/ee9-demo-login.conf
  jetty-ee9/jetty-ee9-demos/jetty-ee9-demo-jaas-webapp/src/main/webapp/index.html
  jetty-home/src/main/resources/modules/demo-jaas.mod
  jetty-home/src/main/resources/modules/demo.d/demo-login.conf
  tests/test-distribution/test-distribution-common/src/test/java/org/eclipse/jetty/tests/distribution/DemoModulesTests.java
Labels: jetty 12

#8706 Jetty 12 - Fixing `jetty-util` Tests on Windows
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/BufferUtilTest.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/FileIDTest.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/URIUtilTest.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/FileSystemResourceTest.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/MountedPathResourceTest.java
Labels: Microsoft Windows, Test, jetty 12

#8708 unwrap exception until we get the first non ServletException, as this can be wrap of wrap of wrap when using ContextHandlerCollection cherry-pick of #7803
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ErrorPageErrorHandler.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/ErrorPageTest.java
  jetty-ee9/jetty-ee9-servlet/src/main/java/org/eclipse/jetty/ee9/servlet/ErrorPageErrorHandler.java
  jetty-ee9/jetty-ee9-servlet/src/test/java/org/eclipse/jetty/ee9/servlet/ErrorPageTest.java
Labels: TCK

#8702 Jetty 12 - Resource `resolve()` and `newResource()` return null on resources that do not exist
  jetty-core/jetty-deploy/src/main/java/org/eclipse/jetty/deploy/providers/ScanningAppProvider.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/ResourceContentFactory.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/ResourceListing.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ContextHandler.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ResourceHandler.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/MemoryResource.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/MountedPathResource.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/PathResource.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/Resource.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/ResourceCollection.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/Resources.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/ssl/SslContextFactory.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/FileSystemResourceTest.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/PathResourceTest.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/ResourceAliasTest.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/ResourceCollectionTest.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/ResourceTest.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/ssl/SslContextFactoryTest.java
  jetty-ee10/jetty-ee10-maven-plugin/src/main/java/org/eclipse/jetty/ee10/maven/plugin/AbstractUnassembledWebAppMojo.java
  jetty-ee10/jetty-ee10-maven-plugin/src/main/java/org/eclipse/jetty/ee10/maven/plugin/MavenWebAppContext.java
  jetty-ee10/jetty-ee10-maven-plugin/src/main/java/org/eclipse/jetty/ee10/maven/plugin/SelectiveJarResource.java
  jetty-ee10/jetty-ee10-plus/src/main/java/org/eclipse/jetty/ee10/plus/webapp/EnvConfiguration.java
  jetty-ee10/jetty-ee10-quickstart/src/main/java/org/eclipse/jetty/ee10/quickstart/QuickStartDescriptorProcessor.java
  jetty-ee10/jetty-ee10-runner/src/main/java/org/eclipse/jetty/ee10/runner/Runner.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/DefaultServlet.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextHandler.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/security/PropertyUserStore.java
  jetty-ee10/jetty-ee10-webapp/src/main/java/org/eclipse/jetty/ee10/webapp/JettyWebXmlConfiguration.java
  jetty-ee10/jetty-ee10-webapp/src/main/java/org/eclipse/jetty/ee10/webapp/MetaInfConfiguration.java
  jetty-ee10/jetty-ee10-webapp/src/main/java/org/eclipse/jetty/ee10/webapp/WebAppClassLoader.java
  jetty-ee10/jetty-ee10-webapp/src/main/java/org/eclipse/jetty/ee10/webapp/WebAppContext.java
  jetty-ee10/jetty-ee10-webapp/src/main/java/org/eclipse/jetty/ee10/webapp/WebInfConfiguration.java
  jetty-ee10/jetty-ee10-webapp/src/main/java/org/eclipse/jetty/ee10/webapp/WebXmlConfiguration.java
  jetty-ee10/jetty-ee10-webapp/src/test/java/org/eclipse/jetty/ee10/webapp/ClassMatcherTest.java
  jetty-ee10/jetty-ee10-webapp/src/test/java/org/eclipse/jetty/ee10/webapp/TestMetaData.java
  jetty-ee10/jetty-ee10-webapp/src/test/java/org/eclipse/jetty/ee10/webapp/WebAppContextTest.java
  jetty-ee10/jetty-ee10-webapp/src/test/java/org/eclipse/jetty/ee10/webapp/WebInfConfigurationTest.java
  jetty-ee9/jetty-ee9-annotations/src/main/java/org/eclipse/jetty/ee9/annotations/AnnotationParser.java
  jetty-ee9/jetty-ee9-maven-plugin/src/main/java/org/eclipse/jetty/ee9/maven/plugin/AbstractUnassembledWebAppMojo.java
  jetty-ee9/jetty-ee9-maven-plugin/src/main/java/org/eclipse/jetty/ee9/maven/plugin/MavenWebAppContext.java
  jetty-ee9/jetty-ee9-maven-plugin/src/main/java/org/eclipse/jetty/ee9/maven/plugin/SelectiveJarResource.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/CachedContentFactory.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ContextHandler.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ResourceHandler.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ResourceService.java
  jetty-ee9/jetty-ee9-plus/src/main/java/org/eclipse/jetty/ee9/plus/webapp/EnvConfiguration.java
  jetty-ee9/jetty-ee9-quickstart/src/main/java/org/eclipse/jetty/ee9/quickstart/QuickStartDescriptorProcessor.java
  jetty-ee9/jetty-ee9-servlet/src/main/java/org/eclipse/jetty/ee9/servlet/DefaultServlet.java
  jetty-ee9/jetty-ee9-webapp/src/main/java/org/eclipse/jetty/ee9/webapp/JettyWebXmlConfiguration.java
  jetty-ee9/jetty-ee9-webapp/src/main/java/org/eclipse/jetty/ee9/webapp/MetaInfConfiguration.java
  jetty-ee9/jetty-ee9-webapp/src/main/java/org/eclipse/jetty/ee9/webapp/WebAppClassLoader.java
  jetty-ee9/jetty-ee9-webapp/src/main/java/org/eclipse/jetty/ee9/webapp/WebAppContext.java
  jetty-ee9/jetty-ee9-webapp/src/main/java/org/eclipse/jetty/ee9/webapp/WebInfConfiguration.java
  jetty-ee9/jetty-ee9-webapp/src/main/java/org/eclipse/jetty/ee9/webapp/WebXmlConfiguration.java
  jetty-ee9/jetty-ee9-webapp/src/test/java/org/eclipse/jetty/ee9/webapp/TestMetaData.java
  jetty-ee9/jetty-ee9-webapp/src/test/java/org/eclipse/jetty/ee9/webapp/WebAppContextTest.java
Labels: jetty 12

#8743 Add log.isDebugEnabled() to reduce string allocation
  jetty-websocket/websocket-core-common/src/main/java/org/eclipse/jetty/websocket/core/AbstractExtension.java
Labels: java

#8741 Jetty 12 - Remove start slash cleanup from `resolve(String)`
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/PathResource.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/ResourceTest.java
Labels: jetty 12

#8735 ResourceHandler set base resource as string
  jetty-core/jetty-server/src/main/config/etc/well-known.xml
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ContextHandler.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ResourceHandler.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/TryPathsHandlerTest.java
  jetty-core/jetty-xml/src/main/java/org/eclipse/jetty/xml/XmlConfiguration.java
  jetty-ee10/jetty-ee10-apache-jsp/src/test/java/org/eclipse/jetty/ee10/jsp/TestJettyJspServlet.java
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-embedded/src/main/java/org/eclipse/jetty/ee10/demos/FileServerXml.java
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-embedded/src/main/java/org/eclipse/jetty/ee10/demos/Http2Server.java
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-embedded/src/main/java/org/eclipse/jetty/ee10/demos/OneServletContext.java
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-embedded/src/main/java/org/eclipse/jetty/ee10/demos/OneServletContextWithSession.java
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-embedded/src/main/java/org/eclipse/jetty/ee10/demos/SplitFileServer.java
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-embedded/src/main/resources/fileserver.xml
  jetty-ee10/jetty-ee10-glassfish-jstl/src/test/java/org/eclipse/jetty/ee10/jstl/JspConfig.java
  jetty-ee10/jetty-ee10-maven-plugin/src/test/java/org/eclipse/jetty/ee10/maven/plugin/TestForkedChild.java
  jetty-ee10/jetty-ee10-maven-plugin/src/test/java/org/eclipse/jetty/ee10/maven/plugin/TestJettyEmbedder.java
  jetty-ee10/jetty-ee10-maven-plugin/src/test/java/org/eclipse/jetty/ee10/maven/plugin/TestWebAppPropertyConverter.java
  jetty-ee10/jetty-ee10-osgi/test-jetty-ee10-osgi-context/src/main/context/acme.xml
  jetty-ee10/jetty-ee10-plus/src/test/java/org/eclipse/jetty/ee10/plus/annotation/LifeCycleCallbackCollectionTest.java
  jetty-ee10/jetty-ee10-quickstart/src/test/java/org/eclipse/jetty/ee10/quickstart/TestQuickStart.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/CustomRequestLogTest.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/DefaultServletTest.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/ServletContextResourcesTest.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/security/AliasedConstraintTest.java
  jetty-ee10/jetty-ee10-servlets/src/test/java/org/eclipse/jetty/ee10/servlets/GzipContentLengthTest.java
  jetty-ee10/jetty-ee10-servlets/src/test/java/org/eclipse/jetty/ee10/servlets/GzipDefaultServletDeferredContentTypeTest.java
  jetty-ee10/jetty-ee10-servlets/src/test/java/org/eclipse/jetty/ee10/servlets/GzipDefaultServletTest.java
  jetty-ee10/jetty-ee10-servlets/src/test/java/org/eclipse/jetty/ee10/servlets/GzipHandlerNoReCompressTest.java
  jetty-ee10/jetty-ee10-servlets/src/test/java/org/eclipse/jetty/ee10/servlets/ThreadStarvationTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-cdi/src/test/java/org/eclipse/jetty/ee10/cdi/tests/EmbeddedWeldTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/resources/DefaultHandler.xml
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-loginservice/src/test/java/org/eclipse/jetty/ee10/loginservice/DatabaseLoginServiceTestServer.java
  jetty-ee10/jetty-ee10-webapp/src/test/java/org/eclipse/jetty/ee10/webapp/StandardDescriptorProcessorTest.java
  jetty-ee10/jetty-ee10-webapp/src/test/java/org/eclipse/jetty/ee10/webapp/WebAppContextTest.java
  jetty-ee10/jetty-ee10-websocket/jetty-ee10-websocket-jakarta-server/src/test/java/org/eclipse/jetty/ee10/websocket/jakarta/server/browser/JsrBrowserDebugTool.java
  jetty-ee10/jetty-ee10-websocket/jetty-ee10-websocket-jakarta-tests/src/main/java/org/eclipse/jetty/ee10/websocket/jakarta/tests/WSServer.java
  jetty-ee10/jetty-ee10-websocket/jetty-ee10-websocket-jetty-server/src/test/java/org/eclipse/jetty/ee10/websocket/server/browser/BrowserDebugTool.java
  jetty-ee10/jetty-ee10-websocket/jetty-ee10-websocket-jetty-tests/src/test/java/org/eclipse/jetty/ee10/websocket/tests/JettyWebSocketWebApp.java
  jetty-ee10/jetty-ee10-websocket/jetty-ee10-websocket-jetty-tests/src/test/java/org/eclipse/jetty/ee10/websocket/tests/WebAppTester.java
  jetty-ee9/jetty-ee9-demos/jetty-ee9-demo-embedded/src/main/java/org/eclipse/jetty/ee9/demos/FileServerXml.java
  jetty-ee9/jetty-ee9-demos/jetty-ee9-demo-embedded/src/main/resources/fileserver.xml
  jetty-ee9/jetty-ee9-maven-plugin/src/test/java/org/eclipse/jetty/ee9/maven/plugin/TestForkedChild.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ContextHandler.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ResourceHandler.java
  jetty-ee9/jetty-ee9-osgi/test-jetty-ee9-osgi-context/src/main/context/acme.xml
  jetty-ee9/jetty-ee9-plus/src/test/java/org/eclipse/jetty/ee9/plus/annotation/LifeCycleCallbackCollectionTest.java
  jetty-ee9/jetty-ee9-quickstart/src/main/java/org/eclipse/jetty/ee9/quickstart/PreconfigureQuickStartWar.java
  jetty-ee9/jetty-ee9-servlet/src/test/java/org/eclipse/jetty/ee9/servlet/CustomRequestLogTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/resources/DefaultHandler.xml
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/resources/RFC2616Base.xml
  jetty-ee9/jetty-ee9-webapp/src/test/java/org/eclipse/jetty/ee9/webapp/StandardDescriptorProcessorTest.java
  jetty-ee9/jetty-ee9-websocket/jetty-ee9-websocket-jakarta-tests/src/main/java/org/eclipse/jetty/ee9/websocket/jakarta/tests/WSServer.java
  tests/test-distribution/test-distribution-common/src/test/java/org/eclipse/jetty/tests/distribution/DistributionTests.java
  tests/test-integration/src/test/java/org/eclipse/jetty/test/AliasCheckerMultipleResourceBasesTest.java
  tests/test-integration/src/test/java/org/eclipse/jetty/test/AliasCheckerSymlinkTest.java
Labels: jetty 12

#8742 Re-enable and fix websocket tests for Jetty 12 ee9 and ee10
  jetty-ee10/jetty-ee10-websocket/jetty-ee10-websocket-jakarta-server/src/main/java/org/eclipse/jetty/ee10/websocket/jakarta/server/internal/JsrHandshakeRequest.java
  jetty-ee10/jetty-ee10-websocket/jetty-ee10-websocket-jakarta-server/src/main/java/org/eclipse/jetty/ee10/websocket/jakarta/server/internal/JsrHandshakeResponse.java
  jetty-ee10/jetty-ee10-websocket/jetty-ee10-websocket-jakarta-tests/src/test/java/org/eclipse/jetty/ee10/websocket/jakarta/tests/server/AnnotatedServerEndpointTest.java
  jetty-ee10/jetty-ee10-websocket/jetty-ee10-websocket-jakarta-tests/src/test/java/org/eclipse/jetty/ee10/websocket/jakarta/tests/server/DeploymentTest.java
  jetty-ee10/jetty-ee10-websocket/jetty-ee10-websocket-jakarta-tests/src/test/java/org/eclipse/jetty/ee10/websocket/jakarta/tests/server/InputStreamEchoTest.java
  jetty-ee10/jetty-ee10-websocket/jetty-ee10-websocket-jakarta-tests/src/test/java/org/eclipse/jetty/ee10/websocket/jakarta/tests/server/ReaderEchoTest.java
  jetty-ee10/jetty-ee10-websocket/jetty-ee10-websocket-jakarta-tests/src/test/java/org/eclipse/jetty/ee10/websocket/jakarta/tests/server/examples/WebSocketServerExamplesTest.java
  jetty-ee9/jetty-ee9-websocket/jetty-ee9-websocket-jakarta-server/src/main/java/org/eclipse/jetty/ee9/websocket/jakarta/server/internal/JsrHandshakeRequest.java
  jetty-ee9/jetty-ee9-websocket/jetty-ee9-websocket-jakarta-server/src/main/java/org/eclipse/jetty/ee9/websocket/jakarta/server/internal/JsrHandshakeResponse.java
  jetty-ee9/jetty-ee9-websocket/jetty-ee9-websocket-jakarta-tests/src/test/java/org/eclipse/jetty/ee9/websocket/jakarta/tests/JakartaClientShutdownWithServerEmbeddedTest.java
  jetty-ee9/jetty-ee9-websocket/jetty-ee9-websocket-jakarta-tests/src/test/java/org/eclipse/jetty/ee9/websocket/jakarta/tests/JakartaWebSocketRestartTest.java
  jetty-ee9/jetty-ee9-websocket/jetty-ee9-websocket-jakarta-tests/src/test/java/org/eclipse/jetty/ee9/websocket/jakarta/tests/server/AnnotatedServerEndpointTest.java
  jetty-ee9/jetty-ee9-websocket/jetty-ee9-websocket-jakarta-tests/src/test/java/org/eclipse/jetty/ee9/websocket/jakarta/tests/server/DeploymentExceptionTest.java
  jetty-ee9/jetty-ee9-websocket/jetty-ee9-websocket-jakarta-tests/src/test/java/org/eclipse/jetty/ee9/websocket/jakarta/tests/server/DeploymentTest.java
  jetty-ee9/jetty-ee9-websocket/jetty-ee9-websocket-jakarta-tests/src/test/java/org/eclipse/jetty/ee9/websocket/jakarta/tests/server/InputStreamEchoTest.java
  jetty-ee9/jetty-ee9-websocket/jetty-ee9-websocket-jakarta-tests/src/test/java/org/eclipse/jetty/ee9/websocket/jakarta/tests/server/ReaderEchoTest.java
  jetty-ee9/jetty-ee9-websocket/jetty-ee9-websocket-jakarta-tests/src/test/java/org/eclipse/jetty/ee9/websocket/jakarta/tests/server/WebSocketServerContainerExecutorTest.java
  jetty-ee9/jetty-ee9-websocket/jetty-ee9-websocket-jakarta-tests/src/test/java/org/eclipse/jetty/ee9/websocket/jakarta/tests/server/examples/WebSocketServerExamplesTest.java
Labels: jetty 12

#8725 Make Client's Request and Response `abort()` fully async
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/HttpChannel.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/HttpContentResponse.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/HttpConversation.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/HttpDestination.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/HttpExchange.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/HttpReceiver.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/HttpRequest.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/HttpResponse.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/HttpSender.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/api/Request.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/api/Response.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/http/HttpConnectionOverHTTP.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/http/HttpReceiverOverHTTP.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/util/FutureResponseListener.java
  jetty-core/jetty-client/src/test/java/org/eclipse/jetty/client/HttpClientUploadDuringServerShutdownTest.java
  jetty-core/jetty-client/src/test/java/org/eclipse/jetty/client/HttpRequestAbortTest.java
  jetty-core/jetty-fcgi/jetty-fcgi-client/src/main/java/org/eclipse/jetty/fcgi/client/http/HttpChannelOverFCGI.java
  jetty-core/jetty-fcgi/jetty-fcgi-client/src/main/java/org/eclipse/jetty/fcgi/client/http/HttpConnectionOverFCGI.java
  jetty-core/jetty-fcgi/jetty-fcgi-client/src/main/java/org/eclipse/jetty/fcgi/client/http/HttpReceiverOverFCGI.java
  jetty-core/jetty-http2/jetty-http2-client-transport/src/main/java/org/eclipse/jetty/http2/client/transport/internal/ClientHTTP2StreamEndPoint.java
  jetty-core/jetty-http2/jetty-http2-client-transport/src/main/java/org/eclipse/jetty/http2/client/transport/internal/HttpChannelOverHTTP2.java
  jetty-core/jetty-http2/jetty-http2-client-transport/src/main/java/org/eclipse/jetty/http2/client/transport/internal/HttpReceiverOverHTTP2.java
  jetty-core/jetty-http2/jetty-http2-common/src/main/java/org/eclipse/jetty/http2/api/Stream.java
  jetty-core/jetty-http2/jetty-http2-common/src/main/java/org/eclipse/jetty/http2/internal/HTTP2Channel.java
  jetty-core/jetty-http2/jetty-http2-common/src/main/java/org/eclipse/jetty/http2/internal/HTTP2Stream.java
  jetty-core/jetty-http2/jetty-http2-server/src/main/java/org/eclipse/jetty/http2/server/HTTP2ServerConnectionFactory.java
  jetty-core/jetty-http2/jetty-http2-server/src/main/java/org/eclipse/jetty/http2/server/internal/HTTP2ServerConnection.java
  jetty-core/jetty-http2/jetty-http2-server/src/main/java/org/eclipse/jetty/http2/server/internal/HttpStreamOverHTTP2.java
  jetty-core/jetty-http2/jetty-http2-server/src/main/java/org/eclipse/jetty/http2/server/internal/ServerHTTP2StreamEndPoint.java
  jetty-core/jetty-http2/jetty-http2-tests/src/test/java/org/eclipse/jetty/http2/tests/IdleTimeoutTest.java
  jetty-core/jetty-http2/jetty-http2-tests/src/test/java/org/eclipse/jetty/http2/tests/RawHTTP2ProxyTest.java
  jetty-core/jetty-http3/jetty-http3-client-transport/src/main/java/org/eclipse/jetty/http3/client/transport/internal/HttpReceiverOverHTTP3.java
  jetty-core/jetty-http3/jetty-http3-client/src/main/java/org/eclipse/jetty/http3/client/internal/HTTP3StreamClient.java
  jetty-core/jetty-http3/jetty-http3-common/src/main/java/org/eclipse/jetty/http3/api/Stream.java
  jetty-core/jetty-http3/jetty-http3-common/src/main/java/org/eclipse/jetty/http3/internal/HTTP3Session.java
  jetty-core/jetty-http3/jetty-http3-common/src/main/java/org/eclipse/jetty/http3/internal/HTTP3Stream.java
  jetty-core/jetty-http3/jetty-http3-server/src/main/java/org/eclipse/jetty/http3/server/HTTP3ServerConnectionFactory.java
  jetty-core/jetty-http3/jetty-http3-server/src/main/java/org/eclipse/jetty/http3/server/internal/HTTP3StreamServer.java
  jetty-core/jetty-http3/jetty-http3-server/src/main/java/org/eclipse/jetty/http3/server/internal/HttpStreamOverHTTP3.java
  jetty-core/jetty-http3/jetty-http3-server/src/main/java/org/eclipse/jetty/http3/server/internal/ServerHTTP3StreamConnection.java
  jetty-core/jetty-http3/jetty-http3-tests/src/test/java/org/eclipse/jetty/http3/tests/StreamIdleTimeoutTest.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/Promise.java
  jetty-ee10/jetty-ee10-proxy/src/main/java/org/eclipse/jetty/ee10/proxy/AbstractProxyServlet.java
  jetty-ee9/jetty-ee9-proxy/src/main/java/org/eclipse/jetty/ee9/proxy/AbstractProxyServlet.java
Labels: Enhancement, jetty 12

#8755 Fix ContentSourceTransformer demand()
  jetty-core/jetty-io/src/main/java/org/eclipse/jetty/io/content/ContentSourceTransformer.java
  jetty-core/jetty-io/src/test/java/org/eclipse/jetty/io/ContentSourceTransformerTest.java
Labels: Bug, jetty 12

#8736 Implement ErrorPageErrorProcessor to resolve #8726
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ErrorProcessor.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ReHandlingErrorProcessor.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/ErrorProcessorTest.java
Labels: jetty 12

#8748 Jetty 12 - Introduce PathMappingsHandler
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/pathmap/PathMappings.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/PathMappingsHandler.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/ContextHandlerTest.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/PathMappingsHandlerTest.java
Labels: jetty 12

#8776 limit build history to last 60 builds
  Jenkinsfile
Labels: Build

#8781 Jetty 12 - Alternate `TryPathsHandler` based on `Request.Processor` existence
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/TryPathsHandler.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/TryPathsHandlerTest.java
Labels: jetty 12

#8778 limit build history to last 60 builds
  Jenkinsfile
Labels: Build

#8771 Jetty 12 - Fix demo-ee10 `LikeJettyXml` (and testcase)
  jetty-core/jetty-deploy/src/main/config/etc/jetty-deploy.xml
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-embedded/src/main/java/org/eclipse/jetty/ee10/demos/LikeJettyXml.java
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-embedded/src/main/resources/demo/webdefault-ee10.xml
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-embedded/src/test/java/org/eclipse/jetty/ee10/demos/LikeJettyXmlTest.java
Labels: jetty 12

#8774 Added SizeLimitHandler
  jetty-server/src/main/java/org/eclipse/jetty/server/handler/SizeLimitHandler.java
  jetty-server/src/test/java/org/eclipse/jetty/server/handler/SizeLimitHandlerTest.java
Labels: Enhancement, Sponsored
