Repository jetty/jetty.project, pull requests merged in 2022-11, with the labels that each got.

#8711 ResourceCollection should not have a path
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/AttributeNormalizer.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/CombinedResource.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/Resource.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/ResourceFactory.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/AttributeNormalizerTest.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/AttributeNormalizerToCanonicalUriTest.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/CombinedResourceTest.java
  jetty-ee10/jetty-ee10-maven-plugin/src/main/java/org/eclipse/jetty/ee10/maven/plugin/MavenQuickStartConfiguration.java
  jetty-ee10/jetty-ee10-maven-plugin/src/main/java/org/eclipse/jetty/ee10/maven/plugin/MavenWebAppContext.java
  jetty-ee10/jetty-ee10-maven-plugin/src/main/java/org/eclipse/jetty/ee10/maven/plugin/WebAppPropertyConverter.java
  jetty-ee10/jetty-ee10-maven-plugin/src/test/java/org/eclipse/jetty/ee10/maven/plugin/TestWebAppPropertyConverter.java
  jetty-ee10/jetty-ee10-quickstart/src/main/java/org/eclipse/jetty/ee10/quickstart/QuickStartDescriptorProcessor.java
  jetty-ee10/jetty-ee10-quickstart/src/main/java/org/eclipse/jetty/ee10/quickstart/QuickStartGeneratorConfiguration.java
  jetty-ee10/jetty-ee10-webapp/src/main/java/org/eclipse/jetty/ee10/webapp/MetaInfConfiguration.java
  jetty-ee10/jetty-ee10-webapp/src/main/java/org/eclipse/jetty/ee10/webapp/WebAppClassLoader.java
  jetty-ee10/jetty-ee10-webapp/src/main/java/org/eclipse/jetty/ee10/webapp/WebAppContext.java
  jetty-ee9/jetty-ee9-maven-plugin/src/main/java/org/eclipse/jetty/ee9/maven/plugin/MavenQuickStartConfiguration.java
  jetty-ee9/jetty-ee9-maven-plugin/src/main/java/org/eclipse/jetty/ee9/maven/plugin/MavenWebAppContext.java
  jetty-ee9/jetty-ee9-maven-plugin/src/main/java/org/eclipse/jetty/ee9/maven/plugin/WebAppPropertyConverter.java
  jetty-ee9/jetty-ee9-maven-plugin/src/test/java/org/eclipse/jetty/ee9/maven/plugin/TestWebAppPropertyConverter.java
  jetty-ee9/jetty-ee9-quickstart/src/main/java/org/eclipse/jetty/ee9/quickstart/AttributeNormalizer.java
  jetty-ee9/jetty-ee9-quickstart/src/main/java/org/eclipse/jetty/ee9/quickstart/QuickStartDescriptorProcessor.java
  jetty-ee9/jetty-ee9-quickstart/src/main/java/org/eclipse/jetty/ee9/quickstart/QuickStartGeneratorConfiguration.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-quickstart/src/test/java/org/eclipse/jetty/ee9/quickstart/AttributeNormalizerTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-quickstart/src/test/java/org/eclipse/jetty/ee9/quickstart/AttributeNormalizerToCanonicalUriTest.java
  jetty-ee9/jetty-ee9-webapp/src/main/java/org/eclipse/jetty/ee9/webapp/MetaInfConfiguration.java
  jetty-ee9/jetty-ee9-webapp/src/main/java/org/eclipse/jetty/ee9/webapp/WebAppClassLoader.java
  jetty-ee9/jetty-ee9-webapp/src/main/java/org/eclipse/jetty/ee9/webapp/WebAppContext.java
Labels: jetty 12

#8812 jetty-12.0.x use default container
  Jenkinsfile
Labels: Build

#8762 Experiment with lock free AdaptiveExecutionStrategy
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/thread/strategy/AdaptiveExecutionStrategy.java
Labels: Performance, jetty 12

#8813 jetty 10.0.x use default container
  Jenkinsfile
Labels: Build

#8855 Jetty 9.4.x - Build + Dependency Roll-Up
  Jenkinsfile
  jetty-client/src/test/java/org/eclipse/jetty/client/HttpClientGZIPTest.java
  jetty-server/src/test/java/org/eclipse/jetty/server/ShutdownMonitorTest.java
  pom.xml
Labels: Build, flaky-test

#8780 Issue #8779 - CompactPathRule should not drop query section from modified URI
  jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/CompactPathRule.java
  jetty-rewrite/src/test/java/org/eclipse/jetty/rewrite/handler/CompactPathRuleTest.java
Labels: Bug, Sponsored

#8857 Jetty 9.4.x - Dependency Roll-Up : The Next Generation
  Jenkinsfile
  jetty-jaas/pom.xml
  jetty-server/src/main/java/org/eclipse/jetty/server/ForwardedRequestCustomizer.java
  jetty-spring/pom.xml
  pom.xml
  tests/test-distribution/pom.xml
Labels: Build

#8860 Jetty 9.4.x - OSGI Deps Rollup
  jetty-osgi/jetty-osgi-boot/pom.xml
  jetty-osgi/pom.xml
  jetty-osgi/test-jetty-osgi/src/test/java/org/eclipse/jetty/osgi/test/TestOSGiUtil.java
Labels: Build

#8859 Fixes #8858 - Jetty 12 Review MovedContextHandler.
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/MovedContextHandler.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/MovedContextHandlerTest.java
  jetty-ee8/jetty-ee8-demos/jetty-ee8-demo-jetty-webapp/src/main/config/modules/demo.d/ee8-demo-moved-context.xml
  jetty-home/src/main/resources/modules/demo.d/demo-moved-context.xml
Labels: jetty 12

#8861 Jetty 12 - General cleanup of URIUtil
  jetty-core/jetty-deploy/src/main/java/org/eclipse/jetty/deploy/providers/ContextProvider.java
  jetty-core/jetty-deploy/src/test/java/org/eclipse/jetty/deploy/MockAppProvider.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/pathmap/ServletPathSpec.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/ResourceListing.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/ResourceService.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/URIUtil.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/CombinedResource.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/PathResource.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/URIUtilTest.java
  jetty-ee10/jetty-ee10-openid/src/main/java/org/eclipse/jetty/ee10/security/openid/OpenIdAuthenticator.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextHandler.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/security/authentication/FormAuthenticator.java
  jetty-ee10/jetty-ee10-webapp/src/main/java/org/eclipse/jetty/ee10/webapp/WebAppContext.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ContextHandler.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ResourceService.java
  jetty-ee9/jetty-ee9-openid/src/main/java/org/eclipse/jetty/ee9/security/openid/OpenIdAuthenticator.java
  jetty-ee9/jetty-ee9-security/src/main/java/org/eclipse/jetty/ee9/security/authentication/FormAuthenticator.java
  jetty-ee9/jetty-ee9-webapp/src/main/java/org/eclipse/jetty/ee9/webapp/WebAppContext.java
Labels: jetty 12

#8862 Fixes #8811 - HTTP/2 session shutdown race may cause Server.stop() to…
  jetty-http2/http2-client/src/test/java/org/eclipse/jetty/http2/client/GracefulShutdownTest.java
  jetty-http2/http2-common/src/main/java/org/eclipse/jetty/http2/HTTP2Session.java
Labels: Bug, Sponsored

#8872 More reliable `AllowedResourceAliasCheckerTest`
  tests/test-integration/src/test/java/org/eclipse/jetty/test/AllowedResourceAliasCheckerTest.java
Labels: flaky-test

#8789 Jetty 12 - use JVM provided null OutputStream
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/util/InputStreamResponseListener.java
  jetty-core/jetty-http/src/test/java/org/eclipse/jetty/http/MultiPartCaptureTest.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/IO.java
  jetty-ee10/jetty-ee10-proxy/src/test/java/org/eclipse/jetty/ee10/proxy/AsyncMiddleManServletTest.java
  jetty-ee9/jetty-ee9-proxy/src/test/java/org/eclipse/jetty/ee9/proxy/AsyncMiddleManServletTest.java
  jetty-ee9/jetty-ee9-security/src/main/java/org/eclipse/jetty/ee9/security/authentication/DeferredAuthentication.java
Labels: jetty 12

#8875 Jetty 9 - More reliable `AllowedResourceAliasCheckerTest`
  tests/test-integration/src/test/java/org/eclipse/jetty/test/AllowedResourceAliasCheckerTest.java
Labels: flaky-test

#8881 Issue #8822 - Fix NPE seen on `deflater.reset()` when called after `deflater.end()`
  jetty-servlets/src/test/java/org/eclipse/jetty/servlets/GzipDefaultServletTest.java
Labels: Bug

#8894 Fixes #8678 - Jetty client receives GO_AWAY and continue to send traf…
  jetty-http2/http2-client/pom.xml
  jetty-http2/http2-client/src/main/java/org/eclipse/jetty/http2/client/HTTP2ClientSession.java
  jetty-http2/http2-client/src/test/java/org/eclipse/jetty/http2/client/HTTP2Test.java
  jetty-http2/http2-common/src/main/java/org/eclipse/jetty/http2/HTTP2Session.java
  jetty-http2/http2-common/src/main/java/org/eclipse/jetty/http2/HTTP2Stream.java
  jetty-http2/http2-common/src/main/java/org/eclipse/jetty/http2/frames/HeadersFrame.java
  jetty-http2/http2-http-client-transport/src/main/java/org/eclipse/jetty/http2/client/http/HttpClientTransportOverHTTP2.java
  jetty-http2/http2-http-client-transport/src/main/java/org/eclipse/jetty/http2/client/http/HttpConnectionOverHTTP2.java
  jetty-http2/http2-http-client-transport/src/test/java/org/eclipse/jetty/http2/client/http/GoAwayTest.java
  jetty-http2/http2-server/src/main/java/org/eclipse/jetty/http2/server/HTTP2ServerSession.java
Labels: Sponsored

#8891 Fixes #8678 - Jetty client receives GO_AWAY and continue to send traffic on same connection
  jetty-http2/http2-client/pom.xml
  jetty-http2/http2-client/src/main/java/org/eclipse/jetty/http2/client/HTTP2ClientSession.java
  jetty-http2/http2-client/src/test/java/org/eclipse/jetty/http2/client/HTTP2Test.java
  jetty-http2/http2-common/src/main/java/org/eclipse/jetty/http2/HTTP2Session.java
  jetty-http2/http2-common/src/main/java/org/eclipse/jetty/http2/HTTP2Stream.java
  jetty-http2/http2-common/src/main/java/org/eclipse/jetty/http2/frames/HeadersFrame.java
  jetty-http2/http2-http-client-transport/src/main/java/org/eclipse/jetty/http2/client/http/HTTPSessionListenerPromise.java
  jetty-http2/http2-http-client-transport/src/main/java/org/eclipse/jetty/http2/client/http/HttpConnectionOverHTTP2.java
  jetty-http2/http2-http-client-transport/src/test/java/org/eclipse/jetty/http2/client/http/GoAwayTest.java
  jetty-http2/http2-server/src/main/java/org/eclipse/jetty/http2/server/HTTP2ServerSession.java
Labels: Sponsored

#8746 Issue #8744 Update ee10 to jasper 10.1.1
  jetty-ee10/pom.xml
Labels: jetty 12

#8767 Refactor and improvements to HttpContent Factories
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/CachingContentFactory.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/CachingHttpContentFactory.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/EtagUtils.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/FileMappingHttpContentFactory.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/HttpContent.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/HttpContentWrapper.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/PreCompressedHttpContent.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/PreCompressedHttpContentFactory.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/ResourceHttpContent.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/ResourceHttpContentFactory.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/ValidatingCachingHttpContentFactory.java
  jetty-core/jetty-io/src/main/java/org/eclipse/jetty/io/Retainable.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/ResourceService.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ResourceHandler.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/ResourceHandlerTest.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/TryPathsHandlerTest.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/BufferUtil.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/DefaultServlet.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/DefaultServletTest.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/CachedContentFactory.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/HttpOutput.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ResourceContentFactory.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ResourceHandler.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ResourceService.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/resource/ByteBufferRangeWriter.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/resource/HttpContentRangeWriter.java
  jetty-ee9/jetty-ee9-servlet/src/main/java/org/eclipse/jetty/ee9/servlet/DefaultServlet.java
  jetty-ee9/jetty-ee9-servlet/src/test/java/org/eclipse/jetty/ee9/servlet/DefaultServletTest.java
Labels: jetty 12

#8899 Fix #8897 Ignore conditional headers as per RFC7232
  jetty-server/src/main/java/org/eclipse/jetty/server/ResourceService.java
  jetty-server/src/test/java/org/eclipse/jetty/server/handler/ResourceHandlerTest.java
Labels: merge-12-needed

#8898 Issue #8895 - Introduce `jetty-home-<ver>-with-docs.zip`
  demos/demo-proxy-webapp/src/main/webapp/WEB-INF/web.xml
  documentation/jetty-asciidoctor-extensions/pom.xml
  documentation/jetty-asciidoctor-extensions/src/main/java/org/eclipse/jetty/docs/JettyIncludeExtension.java
  javadoc/pom.xml
  jetty-home/pom.xml
  jetty-home/src/main/assembly/jetty-with-docs-assembly.xml
  jetty-home/src/main/resources/modules/demo.d/root/index.html
  jetty-home/src/main/resources/modules/demo.d/root/jetty.css
  jetty-maven-plugin/pom.xml
  pom.xml
  tests/jetty-home-tester/pom.xml
  tests/jetty-home-tester/src/main/java/org/eclipse/jetty/tests/hometester/JettyHomeTester.java
  tests/pom.xml
  tests/test-distribution/pom.xml
  tests/test-distribution/src/test/java/org/eclipse/jetty/tests/distribution/BadAppTests.java
  tests/test-distribution/src/test/java/org/eclipse/jetty/tests/distribution/CDITests.java
  tests/test-distribution/src/test/java/org/eclipse/jetty/tests/distribution/DemoModulesTests.java
  tests/test-distribution/src/test/java/org/eclipse/jetty/tests/distribution/DistributionTests.java
  tests/test-distribution/src/test/java/org/eclipse/jetty/tests/distribution/DynamicListenerTests.java
  tests/test-distribution/src/test/java/org/eclipse/jetty/tests/distribution/GzipModuleTests.java
  tests/test-distribution/src/test/java/org/eclipse/jetty/tests/distribution/LoggingOptionsTests.java
  tests/test-distribution/src/test/java/org/eclipse/jetty/tests/distribution/OsgiAppTests.java
  tests/test-distribution/src/test/java/org/eclipse/jetty/tests/distribution/StatsTests.java
  tests/test-distribution/src/test/java/org/eclipse/jetty/tests/distribution/ThirdPartyModulesTests.java
  tests/test-distribution/src/test/java/org/eclipse/jetty/tests/distribution/session/AbstractSessionDistributionTests.java
  tests/test-distribution/src/test/java/org/eclipse/jetty/tests/distribution/session/HazelcastSessionDistributionTests.java
Labels: Documentation, Build

#8871 use repo manager for distribution tests
  Jenkinsfile
  pom.xml
Labels: Build

#8745 Issue #8721 fix jetty:effective-web-xml goal
  jetty-maven-plugin/src/it/jetty-effective-web-xml-it/invoker.properties
  jetty-maven-plugin/src/it/jetty-effective-web-xml-it/pom.xml
  jetty-maven-plugin/src/it/jetty-effective-web-xml-it/postbuild.groovy
  jetty-maven-plugin/src/it/jetty-effective-web-xml-it/resources/pom.xml
  jetty-maven-plugin/src/it/jetty-effective-web-xml-it/resources/src/main/java/Placeholder.java
  jetty-maven-plugin/src/it/jetty-effective-web-xml-it/resources/src/main/resources/META-INF/resources/extra.html
  jetty-maven-plugin/src/it/jetty-effective-web-xml-it/webapp-war/pom.xml
  jetty-maven-plugin/src/it/jetty-effective-web-xml-it/webapp-war/src/config/jetty.xml
  jetty-maven-plugin/src/it/jetty-effective-web-xml-it/webapp-war/src/main/java/WebAppServletListener.java
  jetty-maven-plugin/src/it/jetty-effective-web-xml-it/webapp-war/src/main/webapp/WEB-INF/web.xml
  jetty-maven-plugin/src/main/java/org/eclipse/jetty/maven/plugin/JettyEffectiveWebXml.java
Labels: Bug

#8760 Restored server push functionality.
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/HttpRequest.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/api/Request.java
  jetty-core/jetty-fcgi/jetty-fcgi-server/src/main/java/org/eclipse/jetty/fcgi/server/internal/HttpStreamOverFCGI.java
  jetty-core/jetty-http2/jetty-http2-client-transport/src/main/java/org/eclipse/jetty/http2/client/transport/internal/HttpReceiverOverHTTP2.java
  jetty-core/jetty-http2/jetty-http2-server/src/main/java/org/eclipse/jetty/http2/server/internal/HTTP2ServerConnection.java
  jetty-core/jetty-http2/jetty-http2-server/src/main/java/org/eclipse/jetty/http2/server/internal/HttpStreamOverHTTP2.java
  jetty-core/jetty-http2/jetty-http2-tests/src/test/java/org/eclipse/jetty/http2/tests/PushCacheFilterTest.java
  jetty-core/jetty-http2/jetty-http2-tests/src/test/java/org/eclipse/jetty/http2/tests/PushedResourcesTest.java
  jetty-core/jetty-http3/jetty-http3-server/src/main/java/org/eclipse/jetty/http3/server/internal/HttpStreamOverHTTP3.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/ConnectionMetaData.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/HttpStream.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/Request.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/internal/HttpChannelState.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/internal/HttpConnection.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/HttpChannelTest.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/MockHttpStream.java
  jetty-core/jetty-session/src/test/java/org/eclipse/jetty/session/TestableRequest.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/PushBuilderImpl.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextRequest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-client-transports/pom.xml
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-client-transports/src/test/java/org/eclipse/jetty/ee10/test/client/transport/AbstractTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-client-transports/src/test/java/org/eclipse/jetty/ee10/test/client/transport/PushCacheFilterTest.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/PushBuilderImpl.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/Request.java
  jetty-ee9/jetty-ee9-nested/src/test/java/org/eclipse/jetty/ee9/nested/RequestTest.java
  jetty-ee9/jetty-ee9-nested/src/test/java/org/eclipse/jetty/ee9/nested/ResponseTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-client-transports/pom.xml
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-client-transports/src/test/java/org/eclipse/jetty/ee9/test/client/transport/AbstractTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-client-transports/src/test/java/org/eclipse/jetty/ee9/test/client/transport/PushCacheFilterTest.java
Labels: jetty 12

#8914 Add debug logging to `SerializedInvoker`
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/thread/SerializedInvoker.java
  jetty-core/jetty-util/src/test/resources/jetty-logging.properties
Labels: Enhancement, jetty 12

#8884 Jetty 12 - Move `GzipDefaultServletTest` tests to jetty-core/jetty-server tests
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/gzip/GzipHandlerTest.java
  jetty-core/jetty-server/src/test/resources/test.svg
  jetty-core/jetty-server/src/test/resources/test.svgz
  jetty-ee10/jetty-ee10-servlets/src/test/java/org/eclipse/jetty/ee10/servlets/GzipDefaultServletTest.java
Labels: Test, jetty 12

#8925 Jetty 12.0.x fix switch style and formatting in AbstractTest
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-client-transports/src/test/java/org/eclipse/jetty/ee10/test/client/transport/AbstractTest.java
Labels: jetty 12

#8714 Jetty 12 - Re-enable some disabled session tests.
  jetty-ee10/test-ee10-sessions/test-ee10-jdbc-sessions/src/test/java/org/eclipse/jetty/session/ReloadedSessionMissingClassTest.java
  jetty-ee10/test-ee10-sessions/test-ee10-jdbc-sessions/src/test/java/org/eclipse/jetty/session/WebAppObjectInSessionTest.java
  jetty-ee10/test-ee10-sessions/test-ee10-sessions-common/src/main/java/org/eclipse/jetty/ee10/session/AbstractWebAppObjectInSessionTest.java
  jetty-ee10/test-ee10-sessions/test-ee10-sessions-common/src/main/java/org/eclipse/jetty/ee10/session/SessionTestSupport.java
  jetty-ee8/test-ee8-sessions/test-ee8-jdbc-sessions/src/test/resources/foobar.jar
  jetty-ee8/test-ee8-sessions/test-ee8-jdbc-sessions/src/test/resources/foobarNOfoo.jar
  jetty-ee8/test-ee8-sessions/test-ee8-jdbc-sessions/src/test/resources/jetty-logging.properties
  jetty-ee8/test-ee8-sessions/test-ee8-jdbc-sessions/src/test/resources/simplelogger.properties
  jetty-ee9/test-ee9-sessions/test-ee9-jdbc-sessions/src/test/java/org/eclipse/jetty/session/ReloadedSessionMissingClassTest.java
  jetty-ee9/test-ee9-sessions/test-ee9-jdbc-sessions/src/test/java/org/eclipse/jetty/session/WebAppObjectInSessionTest.java
  jetty-ee9/test-ee9-sessions/test-ee9-sessions-common/src/main/java/org/eclipse/jetty/ee9/session/AbstractWebAppObjectInSessionTest.java
  jetty-ee9/test-ee9-sessions/test-ee9-sessions-common/src/main/java/org/eclipse/jetty/ee9/session/SessionTestSupport.java
Labels: jetty 12

#8924 Jetty 12 - Align `FileID.getExtension()` with JDK20 behaviors
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/FileID.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/FileIDTest.java
  jetty-ee10/jetty-ee10-webapp/src/main/java/org/eclipse/jetty/ee10/webapp/WebAppClassLoader.java
  jetty-ee9/jetty-ee9-webapp/src/main/java/org/eclipse/jetty/ee9/webapp/WebAppClassLoader.java
Labels: jetty 12

#8888 Issue #8886 - support extensible Resource URI schemes
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/URIUtil.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/FileSystemPool.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/MountedPathResource.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/MountedPathResourceFactory.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/PathResource.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/PathResourceFactory.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/Resource.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/ResourceFactory.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/ResourceFactoryInternals.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/URLResourceFactory.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/FileSystemResourceTest.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/ResourceFactoryTest.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/UrlResourceFactoryTest.java
Labels: jetty 12

#8933 Mutable server MimeTypes
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/MimeTypes.java
  jetty-core/jetty-http/src/test/java/org/eclipse/jetty/http/MimeTypesTest.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/Server.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ContextHandler.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/ContextHandlerTest.java
Labels: jetty 12

#8934 Jetty-12 Rewrite RuleProcessor
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/RewriteCustomizer.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/CompactPathRule.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/CookiePatternRule.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/ForceRequestHeaderValueRule.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/ForwardedSchemeHeaderRule.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/HeaderPatternRule.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/HeaderRegexRule.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/HeaderRule.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/InvalidURIRule.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/PatternRule.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/RedirectPatternRule.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/RedirectRegexRule.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/RegexRule.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/ResponsePatternRule.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/RewriteHandler.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/RewritePatternRule.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/RewriteRegexRule.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/Rule.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/RuleContainer.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/TerminatingPatternRule.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/TerminatingRegexRule.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/VirtualHostRuleContainer.java
  jetty-core/jetty-rewrite/src/test/java/org/eclipse/jetty/rewrite/handler/PatternRuleTest.java
  jetty-core/jetty-rewrite/src/test/java/org/eclipse/jetty/rewrite/handler/RegexRuleTest.java
Labels: jetty 12

#8971 Jetty 9.4.x - Rollup of Build related Dependabots
  pom.xml
Labels: dependencies

#8940 Converted writeTrailers to a static method
  jetty-core/jetty-http2/jetty-http2-tests/src/test/java/org/eclipse/jetty/http2/tests/TrailersTest.java
  jetty-core/jetty-io/src/main/java/org/eclipse/jetty/io/Content.java
  jetty-core/jetty-io/src/main/java/org/eclipse/jetty/io/internal/ContentCopier.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/Response.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/EchoHandler.java
Labels: jetty 12
