Repository jetty/jetty.project, pull requests merged in 2022-08, with the labels that each got.

#8361 jetty 12.0.x test ee8 sessions
  jetty-ee8/pom.xml
  jetty-ee8/test-ee8-sessions/pom.xml
  jetty-ee8/test-ee8-sessions/test-ee8-file-sessions/pom.xml
  jetty-ee8/test-ee8-sessions/test-ee8-gcloud-sessions/pom.xml
  jetty-ee8/test-ee8-sessions/test-ee8-hazelcast-sessions/pom.xml
  jetty-ee8/test-ee8-sessions/test-ee8-infinispan-sessions/pom.xml
  jetty-ee8/test-ee8-sessions/test-ee8-jdbc-sessions/pom.xml
  jetty-ee8/test-ee8-sessions/test-ee8-memcached-sessions/pom.xml
  jetty-ee8/test-ee8-sessions/test-ee8-mongodb-sessions/pom.xml
  jetty-ee8/test-ee8-sessions/test-ee8-sessions-common/pom.xml
  jetty-ee9/jetty-ee9-websocket/pom.xml
Labels: Build

#7963 add a configuration field to MavenServerConnector to be able to force reUsePort
  jetty-maven-plugin/src/it/it-parent-pom/pom.xml
  jetty-maven-plugin/src/main/java/org/eclipse/jetty/maven/plugin/MavenServerConnector.java
Labels: Enhancement, Test

#8399 fix exclusion of groups stress and slow
  Jenkinsfile
  pom.xml
Labels: Build

#8402 Jetty 12 : Refactor our `Resource.getListHTML` to utility class
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/ResourceListing.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/ResourceService.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/Resource.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ResourceService.java
Labels: Build

#8407 Jetty 12 : Remove unused Resource APIs
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/Resource.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/ResourceCollection.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/FileSystemResourceTest.java
  jetty-ee10/jetty-ee10-webapp/src/test/java/org/eclipse/jetty/ee10/webapp/OrderingTest.java
  jetty-ee9/jetty-ee9-webapp/src/test/java/org/eclipse/jetty/ee9/webapp/OrderingTest.java
Labels: jetty 12

#8410 Jetty 12 : Remove static Resource.isContainedIn API
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/Resource.java
  jetty-ee10/jetty-ee10-webapp/src/main/java/org/eclipse/jetty/ee10/webapp/MetaData.java
  jetty-ee9/jetty-ee9-webapp/src/main/java/org/eclipse/jetty/ee9/webapp/MetaData.java
Labels: jetty 12

#8215 Issue #8211 - fix ISE from HttpChannelState if failure during process
  jetty-core/jetty-http2/jetty-http2-tests/src/test/java/org/eclipse/jetty/http2/tests/IdleTimeoutTest.java
  jetty-core/jetty-http2/jetty-http2-tests/src/test/java/org/eclipse/jetty/http2/tests/TrailersTest.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/internal/HttpChannelState.java
Labels: jetty 12

#8411 Jetty 12 : Renamed FutureFormFields to just FormFields, as it is mostly used
  jetty-core/jetty-client/src/test/java/org/eclipse/jetty/client/util/TypedContentProviderTest.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/FormFields.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/DelayedHandler.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/DelayedHandlerTest.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/gzip/GzipHandlerTest.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/Fields.java
  jetty-ee10/jetty-ee10-proxy/src/test/java/org/eclipse/jetty/ee10/proxy/ForwardProxyTLSServerTest.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextRequest.java
  jetty-ee9/jetty-ee9-proxy/src/test/java/org/eclipse/jetty/ee9/proxy/ForwardProxyTLSServerTest.java
Labels: jetty 12

#8403 Jetty 12 : Remove `maxBuffer` from `ContentFactory.getContent(String)` parameters
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/CachingContentFactory.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/HttpContent.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/ResourceHttpContent.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/CachedContentFactory.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/ResourceContentFactory.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/ResourceService.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ResourceHandler.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/ResourceCacheTest.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/DefaultServlet.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/CachedContentFactory.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ResourceContentFactory.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ResourceService.java
  jetty-ee9/jetty-ee9-servlet/src/test/java/org/eclipse/jetty/ee9/servlet/DefaultServletTest.java
Labels: Task, jetty 12

#8404 Jetty 12 : Simplify `AnnotationParser` scanning for class files
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/FileID.java
  jetty-ee10/jetty-ee10-annotations/src/main/java/org/eclipse/jetty/ee10/annotations/AnnotationParser.java
  jetty-ee10/jetty-ee10-annotations/src/test/java/org/eclipse/jetty/ee10/annotations/TestAnnotationInheritance.java
  jetty-ee10/jetty-ee10-annotations/src/test/java/org/eclipse/jetty/ee10/annotations/TestAnnotationParser.java
  jetty-ee10/jetty-ee10-annotations/src/test/java/org/eclipse/jetty/ee10/annotations/TestServletAnnotations.java
  jetty-ee9/jetty-ee9-annotations/src/main/java/org/eclipse/jetty/ee9/annotations/AnnotationParser.java
  jetty-ee9/jetty-ee9-annotations/src/test/java/org/eclipse/jetty/ee9/annotations/TestAnnotationInheritance.java
  jetty-ee9/jetty-ee9-annotations/src/test/java/org/eclipse/jetty/ee9/annotations/TestAnnotationParser.java
  jetty-ee9/jetty-ee9-annotations/src/test/java/org/eclipse/jetty/ee9/annotations/TestServletAnnotations.java
Labels: Task, Test, jetty 12

#8425 9.4.x: Fix drainTo when `head == tail` but the queue isn't empty
  jetty-util/src/main/java/org/eclipse/jetty/util/BlockingArrayQueue.java
  jetty-util/src/test/java/org/eclipse/jetty/util/BlockingArrayQueueTest.java
Labels: Bug

#8423 10.0.x: Fix drainTo when `head == tail` but the queue isn't empty
  jetty-util/src/main/java/org/eclipse/jetty/util/BlockingArrayQueue.java
  jetty-util/src/test/java/org/eclipse/jetty/util/BlockingArrayQueueTest.java
Labels: Bug

#8420 Jetty 12 : #8408 Support new `<cookie-config>` concepts in Servlet 6
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/HttpCookie.java
  jetty-core/jetty-http/src/test/java/org/eclipse/jetty/http/HttpCookieTest.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/Response.java
  jetty-core/jetty-session/src/main/java/org/eclipse/jetty/session/AbstractSessionManager.java
  jetty-core/jetty-session/src/main/java/org/eclipse/jetty/session/Session.java
  jetty-core/jetty-session/src/test/java/org/eclipse/jetty/session/SimpleSessionHandler.java
  jetty-core/jetty-session/src/test/java/org/eclipse/jetty/session/TestableSessionManager.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextResponse.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/SessionHandler.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/SessionHandlerTest.java
  jetty-ee10/jetty-ee10-webapp/src/main/java/org/eclipse/jetty/ee10/webapp/StandardDescriptorProcessor.java
  jetty-ee10/jetty-ee10-webapp/src/test/java/org/eclipse/jetty/ee10/webapp/StandardDescriptorProcessorTest.java
  jetty-ee10/jetty-ee10-webapp/src/test/resources/web-session-config.xml
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/Request.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/Response.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/SessionHandler.java
  jetty-ee9/jetty-ee9-nested/src/test/java/org/eclipse/jetty/ee9/nested/SessionHandlerTest.java
  jetty-ee9/jetty-ee9-webapp/src/test/java/org/eclipse/jetty/ee9/webapp/StandardDescriptorProcessorTest.java
  jetty-ee9/jetty-ee9-webapp/src/test/resources/web-session-config.xml
Labels: jetty 12

#8432 Jetty 12 : Issue #8431 Servlet 6 allows dynamic listeners to call getters
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextHandler.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/ServletContextHandlerTest.java
Labels: jetty 12

#8189 Fix test flakiness by handling null buffers returned by the pool
  jetty-client/src/test/java/org/eclipse/jetty/client/HttpClientTLSTest.java
Labels: Test, flaky-test

#8435 Jetty 12 : Avoid recreating `Resource` during container/jar pattern filtering in `MetaInfConfiguration`
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/FileID.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/PatternMatcher.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/URIUtil.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/UriPatternPredicate.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/MountedPathResource.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/ResourceCollection.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/ResourceUriPatternPredicate.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/URIUtilTest.java
  jetty-ee10/jetty-ee10-webapp/src/main/java/org/eclipse/jetty/ee10/webapp/MetaInfConfiguration.java
  jetty-ee9/jetty-ee9-webapp/src/main/java/org/eclipse/jetty/ee9/webapp/MetaInfConfiguration.java
Labels: jetty 12

#8453 move from org.glassfish.web:jstl-impl:1.2 to org.glassfish.web:javax.servlet.jsp.jstl:1.2.5
  jetty-ee8/jetty-ee8-glassfish-jstl/pom.xml
  jetty-ee8/pom.xml
Labels: dependencies

#8310 Jetty 12 : Rename resourceBase to baseResource
  jetty-core/jetty-deploy/src/test/resources/etc/webdefault.xml
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/AllowedResourceAliasChecker.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ContextHandler.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ResourceHandler.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/jmx/AbstractHandlerMBean.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/ResourceHandlerTest.java
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-embedded/src/main/resources/demo/webdefault-ee10.xml
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-jetty-webapp/src/main/assembly/embedded-jetty-web-for-webbundle.xml
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-jetty-webapp/src/main/config/modules/demo.d/ee10-demo-jetty.xml
  jetty-ee10/jetty-ee10-maven-plugin/src/main/java/org/eclipse/jetty/ee10/maven/plugin/AbstractUnassembledWebAppMojo.java
  jetty-ee10/jetty-ee10-maven-plugin/src/main/java/org/eclipse/jetty/ee10/maven/plugin/MavenQuickStartConfiguration.java
  jetty-ee10/jetty-ee10-maven-plugin/src/main/java/org/eclipse/jetty/ee10/maven/plugin/OverlayManager.java
  jetty-ee10/jetty-ee10-maven-plugin/src/main/java/org/eclipse/jetty/ee10/maven/plugin/WebAppPropertyConverter.java
  jetty-ee10/jetty-ee10-maven-plugin/src/test/java/org/eclipse/jetty/ee10/maven/plugin/TestWebAppPropertyConverter.java
  jetty-ee10/jetty-ee10-osgi/test-jetty-ee10-osgi/src/test/config/etc/webdefault-ee10.xml
  jetty-ee10/jetty-ee10-quickstart/src/main/java/org/eclipse/jetty/ee10/quickstart/QuickStartConfiguration.java
  jetty-ee10/jetty-ee10-quickstart/src/main/java/org/eclipse/jetty/ee10/quickstart/QuickStartDescriptorProcessor.java
  jetty-ee10/jetty-ee10-quickstart/src/main/java/org/eclipse/jetty/ee10/quickstart/QuickStartGeneratorConfiguration.java
  jetty-ee10/jetty-ee10-quickstart/src/test/resources/context.xml
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/DefaultServlet.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextHandler.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletTester.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/resources/DefaultHandler.xml
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/resources/RFC2616Base.xml
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/resources/webdefault-ee10.xml
  jetty-ee10/jetty-ee10-webapp/src/main/config/etc/webdefault-ee10.xml
  jetty-ee10/jetty-ee10-webapp/src/main/java/org/eclipse/jetty/ee10/webapp/MetaInfConfiguration.java
  jetty-ee10/jetty-ee10-webapp/src/main/java/org/eclipse/jetty/ee10/webapp/WebAppContext.java
  jetty-ee10/jetty-ee10-webapp/src/main/java/org/eclipse/jetty/ee10/webapp/WebInfConfiguration.java
  jetty-ee8/jetty-ee8-demos/jetty-ee8-demo-jetty-webapp/src/main/assembly/embedded-jetty-web-for-webbundle.xml
  jetty-ee8/jetty-ee8-demos/jetty-ee8-demo-jetty-webapp/src/main/config/modules/demo.d/ee8-demo-jetty.xml
  jetty-ee8/jetty-ee8-webapp/src/main/config/etc/webdefault-ee8.xml
  jetty-ee9/jetty-ee9-demos/jetty-ee9-demo-embedded/src/main/resources/demo/webdefault-ee9.xml
  jetty-ee9/jetty-ee9-demos/jetty-ee9-demo-jetty-webapp/src/main/assembly/embedded-jetty-web-for-webbundle.xml
  jetty-ee9/jetty-ee9-demos/jetty-ee9-demo-jetty-webapp/src/main/config/modules/demo.d/ee9-demo-jetty.xml
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/AllowedResourceAliasChecker.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ContextHandler.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ResourceHandler.java
  jetty-ee9/jetty-ee9-osgi/test-jetty-ee9-osgi/src/test/config/etc/webdefault-ee9.xml
  jetty-ee9/jetty-ee9-quickstart/src/main/java/org/eclipse/jetty/ee9/quickstart/PreconfigureQuickStartWar.java
  jetty-ee9/jetty-ee9-quickstart/src/test/resources/context.xml
  jetty-ee9/jetty-ee9-servlet/src/main/java/org/eclipse/jetty/ee9/servlet/DefaultServlet.java
  jetty-ee9/jetty-ee9-servlet/src/main/java/org/eclipse/jetty/ee9/servlet/ServletTester.java
  jetty-ee9/jetty-ee9-servlet/src/test/java/org/eclipse/jetty/ee9/servlet/DispatcherTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/resources/DefaultHandler.xml
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/resources/RFC2616Base.xml
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/resources/webdefault-ee9.xml
  jetty-ee9/jetty-ee9-webapp/src/main/config/etc/webdefault-ee9.xml
  jetty-ee9/jetty-ee9-websocket/jetty-ee9-websocket-jakarta-tests/src/main/java/org/eclipse/jetty/ee9/websocket/jakarta/tests/WSServer.java
Labels: jetty 12

#8467 Bump slf4j to 2.0.0-beta1 and logback to 1.3.0-beta0
  jetty-home/src/main/resources/modules/logging-log4j1.mod
  pom.xml
  tests/test-distribution/src/test/java/org/eclipse/jetty/tests/distribution/LoggingOptionsTests.java
Labels: dependencies

#8482 use slf4j 2.0.0
  pom.xml
Labels: dependencies

#8484 fix ee8 jstl module and demo
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/security/HashLoginService.java
  jetty-ee8/jetty-ee8-home/pom.xml
  jetty-ee8/jetty-ee8-webapp/src/main/config/etc/jetty-ee8-deploy.xml
  jetty-ee8/pom.xml
  pom.xml
  tests/test-distribution/test-distribution-common/src/test/java/org/eclipse/jetty/tests/distribution/DemoModulesTests.java
Labels: Build
