Repository jetty/jetty.project, pull requests merged in 2022-12, with the labels that each got.

#8982 Fix #8980 addJars to WebAppClassLoader
  jetty-ee10/jetty-ee10-webapp/src/main/java/org/eclipse/jetty/ee10/webapp/WebAppClassLoader.java
  jetty-ee9/jetty-ee9-webapp/src/main/java/org/eclipse/jetty/ee9/webapp/WebAppClassLoader.java
Labels: jetty 12

#8995 Jetty 10 - Fix OpenJDK 19 related build issues
  Jenkinsfile
  jetty-quic/quic-quiche/quic-quiche-foreign-incubator/pom.xml
Labels: Build

#8996 Fix Jenkins build to not use `-Peclipse-release`
  Jenkinsfile
Labels: Build

#9001 skip m-invoker-p for jdk 19
  pom.xml
Labels: Build

#8922 Issue #8921 Fix normalization of META-INF resources for quickstart
  jetty-ee10/jetty-ee10-maven-plugin/pom.xml
  jetty-ee10/jetty-ee10-quickstart/src/main/java/org/eclipse/jetty/ee10/quickstart/QuickStartGeneratorConfiguration.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-quickstart/src/test/java/org/eclipse/jetty/ee10/quickstart/QuickStartTest.java
  jetty-ee10/jetty-ee10-webapp/src/main/java/org/eclipse/jetty/ee10/webapp/MetaInfConfiguration.java
  jetty-ee9/jetty-ee9-maven-plugin/pom.xml
  jetty-ee9/jetty-ee9-quickstart/src/main/java/org/eclipse/jetty/ee9/quickstart/QuickStartGeneratorConfiguration.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-quickstart/src/test/java/org/eclipse/jetty/ee9/quickstart/QuickStartTest.java
Labels: jetty 12

#9008 Fixes #9005 - Flaky test ConnectionPoolTest.testConcurrentRequestsAllBlockedOnServer
  jetty-client/src/test/java/org/eclipse/jetty/client/ConnectionPoolTest.java
Labels: flaky-test

#9010 Fixes #9006 - WebSocket MessageInputStream.read() returns signed byte
  jetty-server/src/main/java/org/eclipse/jetty/server/MultiPartInputStreamParser.java
  jetty-websocket/websocket-core-common/src/main/java/org/eclipse/jetty/websocket/core/internal/messages/MessageInputStream.java
  jetty-websocket/websocket-jetty-common/src/test/java/org/eclipse/jetty/websocket/common/MessageInputStreamTest.java
Labels: Bug

#9011 Fixes #9009 - Flaky test StreamCloseTest.testRequestDataClosedRespons…
  jetty-http2/http2-client/src/test/java/org/eclipse/jetty/http2/client/StreamCloseTest.java
Labels: flaky-test

#9002 Jetty 12 - Issue #8999 - Remove FileID.isArchive() from ResourceFactory
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/URIUtil.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/ResourceFactory.java
Labels: jetty 12

#8994 Make the `Content.Chunk.isTerminal()` contract stricter
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/ResponseNotifier.java
  jetty-core/jetty-http/src/test/java/org/eclipse/jetty/http/MultiPartFormDataTest.java
  jetty-core/jetty-http/src/test/java/org/eclipse/jetty/http/MultiPartTest.java
  jetty-core/jetty-http3/jetty-http3-common/src/main/java/org/eclipse/jetty/http3/internal/HTTP3StreamConnection.java
  jetty-core/jetty-io/src/main/java/org/eclipse/jetty/io/Content.java
  jetty-core/jetty-io/src/main/java/org/eclipse/jetty/io/content/AsyncContent.java
  jetty-core/jetty-io/src/main/java/org/eclipse/jetty/io/content/ChunksContentSource.java
  jetty-core/jetty-io/src/test/java/org/eclipse/jetty/io/AsyncContentSourceTest.java
  jetty-core/jetty-io/src/test/java/org/eclipse/jetty/io/ContentTest.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/MockHttpStream.java
Labels: jetty 12

#9013 Client FCGI and ContentTransformer bug fixes
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/HttpReceiver.java
  jetty-core/jetty-fcgi/jetty-fcgi-client/src/main/java/org/eclipse/jetty/fcgi/client/http/HttpReceiverOverFCGI.java
  jetty-core/jetty-http2/jetty-http2-client-transport/src/main/java/org/eclipse/jetty/http2/client/transport/internal/HttpReceiverOverHTTP2.java
  jetty-core/jetty-http3/jetty-http3-client-transport/src/main/java/org/eclipse/jetty/http3/client/transport/internal/HttpReceiverOverHTTP3.java
  jetty-core/jetty-io/src/main/java/org/eclipse/jetty/io/content/ContentSourceTransformer.java
Labels: jetty 12

#9016 fix testFromEmptyByteBufferWithoutReleaser
  jetty-core/jetty-io/src/test/java/org/eclipse/jetty/io/ContentTest.java
Labels: jetty 12

#9017 Fixing OSGi bundle + tycho-p2 build failures
  documentation/jetty-asciidoctor-extensions/pom.xml
  documentation/jetty-documentation/pom.xml
  jetty-p2/pom.xml
Labels: Build, dependencies

#9014 Issue #8973 - Rework KeyStoreScanner handling for symlink related changes
  documentation/jetty-documentation/src/main/asciidoc/operations-guide/modules/module-ssl-reload.adoc
  jetty-server/src/main/config/etc/jetty-ssl-context-reload.xml
  jetty-server/src/main/config/modules/ssl-reload.mod
  jetty-util/src/main/java/org/eclipse/jetty/util/Scanner.java
  jetty-util/src/main/java/org/eclipse/jetty/util/ssl/KeyStoreScanner.java
  tests/test-integration/src/test/java/org/eclipse/jetty/test/KeyStoreScannerTest.java
  tests/test-integration/src/test/resources/jetty-logging.properties
Labels: Bug

#9022 Update tycho-p2 from 2.7.5 to 3.0.1
  jetty-p2/pom.xml
Labels: Build, dependencies

#9024 Issue #8984 Fix dump of Attributes
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/component/Dumpable.java
Labels: Jetty 12

#9037 response#getWriter should throw UnsupportedEncodingException in case of bad character encoding used
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/writer/EncodingHttpWriter.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/CharacterEncodingTest.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/EncodingHttpWriter.java
  jetty-ee9/jetty-ee9-servlet/src/test/java/org/eclipse/jetty/ee9/servlet/CharacterEncodingTest.java
Labels: TCK

#9039 Jetty 12 - Fix `jakarta.servlet.jsp.jstl-api:jar:3.0.0-RC1` warning
  jetty-ee10/pom.xml
Labels: Build, dependencies, Jetty 12

#9061 Async not supported without wrappers
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextRequest.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletHolder.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/AsyncServletTest.java
Labels: TCK, Jetty 12

#9023 jetty 10.0.x fix jdk19 build upgrading and re enable m-invoker-p which now supports jdk19
  jetty-jspc-maven-plugin/src/it/simple-jsp/postbuild.groovy
  jetty-maven-plugin/src/it/jetty-effective-web-xml-it/postbuild.groovy
  pom.xml
Labels: Build

#9057 Jetty 12.0.x ee10 convert cookie
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/CookieCache.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/CookieCutter.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/HttpCookie.java
  jetty-core/jetty-http/src/test/java/org/eclipse/jetty/http/CookieCutterLenientTest.java
  jetty-core/jetty-http/src/test/java/org/eclipse/jetty/http/CookieCutterTest.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextRequest.java
Labels: TCK, Jetty 12

#9055 PathMappings optimizations
  jetty-http/src/main/java/org/eclipse/jetty/http/pathmap/MappedResource.java
  jetty-http/src/main/java/org/eclipse/jetty/http/pathmap/PathMappings.java
  jetty-http/src/test/java/org/eclipse/jetty/http/pathmap/PathMappingsTest.java
Labels: merge-12-needed

#9058 Enable all jetty-deploy tests
  jetty-core/jetty-deploy/pom.xml
  jetty-core/jetty-deploy/src/main/java/org/eclipse/jetty/deploy/providers/ContextProvider.java
  jetty-core/jetty-deploy/src/main/java/org/eclipse/jetty/deploy/providers/ScanningAppProvider.java
  jetty-core/jetty-deploy/src/test/java/org/eclipse/jetty/deploy/DeploymentManagerTest.java
  jetty-core/jetty-deploy/src/test/java/org/eclipse/jetty/deploy/providers/ContextProviderRuntimeUpdatesTest.java
  jetty-core/jetty-deploy/src/test/java/org/eclipse/jetty/deploy/providers/ContextProviderStartupTest.java
  jetty-core/jetty-deploy/src/test/java/org/eclipse/jetty/deploy/test/XmlConfiguredJetty.java
  jetty-core/jetty-deploy/src/test/resources/binding-test-contexts-1.xml
  jetty-core/jetty-deploy/src/test/resources/context-binding-test-1.xml
  jetty-core/jetty-deploy/src/test/resources/jetty-deploy-wars.xml
  jetty-core/jetty-deploy/src/test/resources/jetty-deploymgr-contexts.xml
  jetty-core/jetty-deploy/src/test/resources/webapps/bar-core-context-alt.xml
  jetty-core/jetty-deploy/src/test/resources/webapps/bar-core-context.xml
  jetty-core/jetty-deploy/src/test/resources/webapps/foo.xml
Labels: Jetty 12

#9071 Improve `IncludeExcludeSet` testing
  jetty-util/src/main/java/org/eclipse/jetty/util/IncludeExcludeSet.java
  jetty-util/src/test/java/org/eclipse/jetty/util/IncludeExcludeSetTest.java
Labels: Performance, Test

#9075 Simpler TreeTrie.isEmpty() method
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/TreeTrie.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/TrieTest.java
Labels: Performance, Jetty 12

#9048 Test for ee10 response commit
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/AsyncContentProducer.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletChannel.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextRequest.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletRequestState.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/ResponseHeadersTest.java
Labels: Jetty 12

#9043 Create StaticHttpContentFactory and other cleanups
  jetty-core/jetty-http/src/main/java/module-info.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/content/CachingHttpContentFactory.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/content/FileMappingHttpContentFactory.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/content/HttpContent.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/content/PreCompressedHttpContent.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/content/PreCompressedHttpContentFactory.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/content/ResourceHttpContent.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/content/ResourceHttpContentFactory.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/content/ValidatingCachingHttpContentFactory.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/content/VirtualHttpContentFactory.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/ResourceService.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ResourceHandler.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/ResourceHandlerTest.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/TryPathsHandlerTest.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/FileID.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/FileIDTest.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/MountedPathResourceTest.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/DefaultServlet.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/DefaultServletTest.java
  jetty-ee10/jetty-ee10-servlet/src/test/resources/jetty-logging.properties
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/HttpOutput.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ResourceHandler.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ResourceService.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/Response.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/resource/HttpContentRangeWriter.java
  jetty-ee9/jetty-ee9-servlet/src/main/java/org/eclipse/jetty/ee9/servlet/DefaultServlet.java
Labels: Jetty 12

#9056 Alternate DelayedHandler & ThreadLimitHandler implementations #9051
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/MimeTypes.java
  jetty-core/jetty-http/src/test/java/org/eclipse/jetty/http/MimeTypesTest.java
  jetty-core/jetty-io/src/main/java/org/eclipse/jetty/io/Content.java
  jetty-core/jetty-server/src/main/config/etc/jetty-delayed.xml
  jetty-core/jetty-server/src/main/config/modules/delay-until-content.mod
  jetty-core/jetty-server/src/main/config/modules/threadlimit.mod
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/FormFields.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/Request.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/Response.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ContextRequest.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/DelayedHandler.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ThreadLimitHandler.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/internal/HttpChannelState.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/DelayedHandlerTest.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/MultiPartFormDataHandlerTest.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/ThreadLimitHandlerTest.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/jmh/HandlerBenchmark.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/IO.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/thread/SerializedInvoker.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletMultiPartFormData.java
  jetty-ee10/jetty-ee10-webapp/src/main/java/org/eclipse/jetty/ee10/webapp/WebInfConfiguration.java
  jetty-ee10/jetty-ee10-webapp/src/test/java/org/eclipse/jetty/ee10/webapp/HugeResourceTest.java
Labels: Jetty 12

#9081 Improve DatastoreEmulatorContainer usage
  pom.xml
  tests/test-distribution/src/test/java/org/eclipse/jetty/tests/distribution/session/GCloudSessionDistributionTests.java
  tests/test-sessions/test-gcloud-sessions/src/test/java/org/eclipse/jetty/gcloud/session/GCloudSessionTestSupport.java
Labels: Test, dependencies

#9091 jetty 12.0.x separate package for cgloudsession test
  jetty-ee10/test-ee10-sessions/test-ee10-gcloud-sessions/src/test/java/org/eclipse/jetty/ee10/gcloud/session/ClusteredOrphanedSessionTest.java
  jetty-ee10/test-ee10-sessions/test-ee10-gcloud-sessions/src/test/java/org/eclipse/jetty/ee10/gcloud/session/ClusteredSessionScavengingTest.java
  jetty-ee10/test-ee10-sessions/test-ee10-gcloud-sessions/src/test/java/org/eclipse/jetty/ee10/gcloud/session/GCloudSessionDataStoreTest.java
  jetty-ee10/test-ee10-sessions/test-ee10-gcloud-sessions/src/test/java/org/eclipse/jetty/ee10/gcloud/session/GCloudSessionTestSupport.java
  jetty-ee10/test-ee10-sessions/test-ee10-gcloud-sessions/src/test/java/org/eclipse/jetty/ee10/gcloud/session/InvalidationSessionTest.java
  jetty-ee10/test-ee10-sessions/test-ee10-gcloud-sessions/src/test/resources/simplelogger.properties
  jetty-ee9/test-ee9-sessions/test-ee9-gcloud-sessions/src/test/java/org/eclipse/jetty/ee9/gcloud/session/ClusteredOrphanedSessionTest.java
  jetty-ee9/test-ee9-sessions/test-ee9-gcloud-sessions/src/test/java/org/eclipse/jetty/ee9/gcloud/session/ClusteredSessionScavengingTest.java
  jetty-ee9/test-ee9-sessions/test-ee9-gcloud-sessions/src/test/java/org/eclipse/jetty/ee9/gcloud/session/GCloudSessionDataStoreTest.java
  jetty-ee9/test-ee9-sessions/test-ee9-gcloud-sessions/src/test/java/org/eclipse/jetty/ee9/gcloud/session/GCloudSessionTestSupport.java
  jetty-ee9/test-ee9-sessions/test-ee9-gcloud-sessions/src/test/java/org/eclipse/jetty/ee9/gcloud/session/InvalidationSessionTest.java
  jetty-ee9/test-ee9-sessions/test-ee9-gcloud-sessions/src/test/resources/simplelogger.properties
Labels: Test
