Repository jetty/jetty.project, pull requests merged in 2023-07, with the labels that each got.

#10058 Issue #9973 - use URIUtil.addPaths() instead of URI.resolve()
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/URLResourceFactory.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/PathResourceTest.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/UrlResourceFactoryTest.java
Labels: Bug, Jetty 12

#10062 Issue #8556 Allow getSessionTimeout to be called when not starting
  jetty-servlet/src/main/java/org/eclipse/jetty/servlet/ServletContextHandler.java
  jetty-servlet/src/test/java/org/eclipse/jetty/servlet/ServletContextHandlerTest.java
Labels: Bug

#10075 Dependency Rollup for `jetty-10.0.x` - July 2023
  jetty-osgi/pom.xml
  jetty-p2/pom.xml
  pom.xml
Labels: dependencies

#10067 Issue #10066 - Allow customization of `SAXParserFactory` and `SAXParser` in `XmlParser`
  jetty-xml/src/main/java/org/eclipse/jetty/xml/XmlParser.java
  jetty-xml/src/test/java/org/eclipse/jetty/xml/XmlParserTest.java
Labels: Enhancement

#10077 Issue #10068 allow Resource configuration in jetty maven plugin
  jetty-ee10/jetty-ee10-maven-plugin/src/it/jetty-start-mojo-it/jetty-simple-webapp/pom.xml
  jetty-ee10/jetty-ee10-maven-plugin/src/it/jetty-start-mojo-it/jetty-simple-webapp/src/config/login.xml
  jetty-ee10/jetty-ee10-maven-plugin/src/main/java/org/eclipse/jetty/ee10/maven/plugin/MavenResource.java
  jetty-ee8/jetty-ee8-maven-plugin/src/it/jetty-start-mojo-it/jetty-simple-webapp/pom.xml
  jetty-ee8/jetty-ee8-maven-plugin/src/it/jetty-start-mojo-it/jetty-simple-webapp/src/config/login.xml
  jetty-ee9/jetty-ee9-maven-plugin/src/it/jetty-start-mojo-it/jetty-simple-webapp/pom.xml
  jetty-ee9/jetty-ee9-maven-plugin/src/it/jetty-start-mojo-it/jetty-simple-webapp/src/config/login.xml
  jetty-ee9/jetty-ee9-maven-plugin/src/main/java/org/eclipse/jetty/ee9/maven/plugin/MavenResource.java
Labels: Enhancement, Jetty 12

#10074 Dependency Rollup for `jetty-9.4.x` - July 2023
  jetty-documentation/pom.xml
  jetty-osgi/pom.xml
  jetty-osgi/test-jetty-osgi/pom.xml
  jetty-osgi/test-jetty-osgi/src/test/java/org/eclipse/jetty/osgi/test/TestOSGiUtil.java
  jetty-spring/pom.xml
  pom.xml
  tests/test-distribution/src/test/java/org/eclipse/jetty/tests/distribution/AbstractDistributionTest.java
  tests/test-distribution/src/test/java/org/eclipse/jetty/tests/distribution/DemoBaseTests.java
Labels: dependencies

#10081 Fix configuration replacement
  jetty-ee10/jetty-ee10-webapp/src/main/java/org/eclipse/jetty/ee10/webapp/Configurations.java
  jetty-ee10/jetty-ee10-webapp/src/test/java/org/eclipse/jetty/ee10/webapp/ConfigurationsTest.java
Labels: Bug, Jetty 12

#10083 Dependency Updates for `jetty-12.0.x` - July 2023
  jetty-core/jetty-util/pom.xml
  jetty-ee10/pom.xml
  pom.xml
Labels: dependencies, Jetty 12

#10085 Issue #10084 - Directory results from `getResourcePaths(String)` should include trailing slash
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/FileID.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/Resource.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/FileIDTest.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/PathResourceTest.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/UrlResourceFactoryTest.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextHandler.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/ServletRequestListenerTest.java
  jetty-ee10/jetty-ee10-webapp/src/test/java/org/eclipse/jetty/ee10/webapp/WebAppContextTest.java
  jetty-ee10/jetty-ee10-webapp/src/test/resources/wars/with_dirs/WEB-INF/bar/main.txt
  jetty-ee10/jetty-ee10-webapp/src/test/resources/wars/with_dirs/WEB-INF/foo/alt.txt
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ContextHandler.java
  jetty-ee9/jetty-ee9-webapp/pom.xml
  jetty-ee9/jetty-ee9-webapp/src/test/java/org/acme/webapp/GetRealPathsServlet.java
  jetty-ee9/jetty-ee9-webapp/src/test/java/org/acme/webapp/GetResourcePathsServlet.java
  jetty-ee9/jetty-ee9-webapp/src/test/java/org/eclipse/jetty/ee9/webapp/WebAppContextTest.java
  jetty-ee9/jetty-ee9-webapp/src/test/resources/wars/layer0/WEB-INF/zero.xml
  jetty-ee9/jetty-ee9-webapp/src/test/resources/wars/layer1/WEB-INF/one.xml
  jetty-ee9/jetty-ee9-webapp/src/test/resources/wars/with_dirs/WEB-INF/bar/main.txt
  jetty-ee9/jetty-ee9-webapp/src/test/resources/wars/with_dirs/WEB-INF/foo/alt.txt
  jetty-ee9/jetty-ee9-webapp/src/test/webapp-with-resources/WEB-INF/lib/odd-resource.jar
  jetty-ee9/jetty-ee9-webapp/src/test/webapp-with-resources/WEB-INF/web.xml
Labels: Bug, Jetty 12

#10097 Merge `release/12.0.0.beta3` back into `jetty-12.0.x`
  VERSION.txt
Labels: Build, Jetty 12

#10124 Unable to redirect to error-page that is an HTML
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/Dispatcher.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/AsyncServletTest.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/DispatcherTest.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/ErrorPageTest.java
Labels: Bug

#10133 Issue #10131 - Test case showing ERROR param merging works as-is.
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/ErrorPageTest.java
Labels: Test

#10144 Common code and documentation for dispatched query parameters
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/Dispatcher.java
Labels: Bug, Jetty 12

#10149 Issue #10141 and #10142 - Reintroduce context init-param `org.eclipse.jetty.servlet.Default.` prefix for ee10
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/DefaultServlet.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletHandler.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/DefaultServletInitTest.java
  jetty-ee9/jetty-ee9-servlet/src/main/java/org/eclipse/jetty/ee9/servlet/DefaultServlet.java
  jetty-ee9/jetty-ee9-servlet/src/test/java/org/eclipse/jetty/ee9/servlet/DefaultServletInitTest.java
Labels: Bug, Jetty 12

#10147 Issue #10134 - Delay Base Resource validation to `ContextHandler.doStart()`
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ContextHandler.java
Labels: Bug, Jetty 12

#10140 Issue #10139 - DefaultServlet not working with named dispatch in Jetty-12 EE10
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/DefaultServlet.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/DefaultServletNamedTest.java
Labels: Bug, Jetty 12

#10146 Fixes #10145 - WritePendingException over HTTP/2 tunnel
  jetty-http2/http2-common/src/main/java/org/eclipse/jetty/http2/HTTP2StreamEndPoint.java
  jetty-io/src/main/java/org/eclipse/jetty/io/WriteFlusher.java
  tests/test-http-client-transport/src/test/java/org/eclipse/jetty/http/client/ProxyWithDynamicTransportTest.java
Labels: Bug

#10154 Add extra DefaultServlet include tests
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/DefaultServlet.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/DispatcherTest.java
  jetty-ee10/jetty-ee10-servlet/src/test/resources/contextResources/test.txt
  jetty-ee9/jetty-ee9-servlet/src/test/java/org/eclipse/jetty/ee9/servlet/DispatcherTest.java
  jetty-ee9/jetty-ee9-servlet/src/test/resources/contextResources/test.txt
Labels: Bug, Jetty 12

#10157 Fix #10155 include writer outputstream
  jetty-ee10/jetty-ee10-glassfish-jstl/src/test/webapp/top.jsp
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/Dispatcher.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/DispatcherTest.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/IncludedServletTest.java
  jetty-ee10/jetty-ee10-servlet/src/test/resources/contextResources/test.txt
Labels: Low Priority

#10161 jdk21 build to replace 19
  Jenkinsfile
  pom.xml
Labels: Build

#10159 Fix #10121 some demo files were not filtered correctly to transform jakarta to javax
  jetty-ee8/pom.xml
Labels: Low Priority, Build

#10170 Issue #10164 - test to prove out FSPool mount vs reference count logic
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/FileSystemPool.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/ResourceFactoryInternals.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/MountedPathResourceTest.java
Labels: Test, Jetty 12

#10178 Fix demo-spec webapp failures
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/IO.java
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-spec/jetty-ee10-demo-container-initializer/src/main/java/org/example/initializer/FooInitializer.java
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-spec/jetty-ee10-demo-spec-webapp/pom.xml
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-spec/jetty-ee10-demo-spec-webapp/src/test/java/org/eclipse/jetty/ee10/demos/SpecWebAppTest.java
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-spec/jetty-ee10-demo-spec-webapp/src/test/resources/ee10-demo-realm.properties
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-spec/jetty-ee10-demo-spec-webapp/src/test/resources/jetty-logging.properties
Labels: Bug, Jetty 12

#10179 Fix Junit usage issues
  jetty-core/jetty-websocket/jetty-websocket-jetty-tests/src/test/java/org/eclipse/jetty/websocket/tests/LargeDeflateTest.java
  jetty-ee10/jetty-ee10-webapp/src/test/java/org/eclipse/jetty/ee10/webapp/WebAppContextTest.java
  jetty-ee9/jetty-ee9-webapp/src/test/java/org/eclipse/jetty/ee9/webapp/OrderingTest.java
  jetty-ee9/jetty-ee9-websocket/jetty-ee9-websocket-jetty-tests/src/test/java/org/eclipse/jetty/ee9/websocket/tests/LargeDeflateTest.java
Labels: Test, Jetty 12
