Repository jetty/jetty.project, pull requests merged in 2023-03, with the labels that each got.

#9484 merge back 12.0.0.beta0 release branch
  VERSION.txt
Labels: Build

#9486 no need of unzip jetty-home for every single test if it is the same zip (based on lastModified file value)
  tests/jetty-home-tester/src/main/java/org/eclipse/jetty/tests/hometester/JettyHomeTester.java
Labels: Build

#9481 Jetty 12 - Dependency Updates and Report Script
  .gitignore
  build/scripts/dependency-update-reports.sh
  jetty-core/pom.xml
  jetty-ee10/pom.xml
  jetty-ee8/jetty-ee8-jaas/pom.xml
  jetty-ee8/pom.xml
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-loginservice/pom.xml
  jetty-ee9/pom.xml
  pom.xml
Labels: dependencies, Jetty 12

#9492 Jetty 12.0.x improve multiversion annotations test
  jetty-ee10/jetty-ee10-annotations/src/main/java/org/eclipse/jetty/ee10/annotations/AnnotationParser.java
  jetty-ee10/jetty-ee10-annotations/src/test/java/org/eclipse/jetty/ee10/annotations/TestAnnotationParser.java
  jetty-ee9/jetty-ee9-annotations/src/main/java/org/eclipse/jetty/ee9/annotations/AnnotationParser.java
  jetty-ee9/jetty-ee9-annotations/src/test/java/org/eclipse/jetty/ee9/annotations/TestAnnotationParser.java
Labels: Jetty 12

#9542 upgrade json-smart to 2.4.9
  pom.xml
Labels: Build, dependencies

#9516 Jetty 12 - Remove CGI servlet
  documentation/jetty-documentation/src/main/asciidoc/old_docs/extras/cgi-servlet.adoc
  documentation/jetty-documentation/src/main/asciidoc/old_docs/extras/chapter.adoc
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-jetty-webapp/src/main/webapp/WEB-INF/web.xml
  jetty-ee10/jetty-ee10-servlets/src/main/config/modules/ee10-servlets.mod
  jetty-ee10/jetty-ee10-servlets/src/main/java/org/eclipse/jetty/ee10/servlets/CGI.java
  jetty-ee8/jetty-ee8-servlets/src/main/config/modules/ee8-servlets.mod
  jetty-ee9/jetty-ee9-demos/jetty-ee9-demo-jetty-webapp/src/main/webapp/WEB-INF/web.xml
  jetty-ee9/jetty-ee9-servlets/src/main/config/modules/ee9-servlets.mod
  jetty-ee9/jetty-ee9-servlets/src/main/java/org/eclipse/jetty/ee9/servlets/CGI.java
Labels: Jetty 12

#9549 Jetty 12 - Move `org.eclipse.jetty.server.context.ManagedAttributes` to core `jetty-server`
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ContextHandler.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextHandler.java
  jetty-ee10/jetty-ee10-servlets/src/test/java/org/eclipse/jetty/ee10/servlets/DoSFilterJMXTest.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ContextHandler.java
  jetty-ee9/jetty-ee9-servlets/src/test/java/org/eclipse/jetty/ee9/servlets/DoSFilterJMXTest.java
Labels: Bug, Jetty 12

#9543 #9538 - fixed testParallelContentSourceListenersTotalFailure
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/transport/ResponseListeners.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/MultiPart.java
  jetty-core/jetty-io/src/main/java/org/eclipse/jetty/io/content/ByteBufferContentSource.java
  jetty-core/jetty-io/src/main/java/org/eclipse/jetty/io/content/PathContentSource.java
Labels: Bug

#9546 Jetty 12 - Align ee9/ee10 quickstart testing
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-quickstart/src/test/java/org/eclipse/jetty/ee10/quickstart/PreconfigureJNDIWar.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-quickstart/src/test/java/org/eclipse/jetty/ee10/quickstart/PreconfigureSpecWar.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-quickstart/src/test/java/org/eclipse/jetty/ee10/quickstart/PreconfigureStandardTestWar.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-quickstart/src/test/java/org/eclipse/jetty/ee10/quickstart/QuickStartTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-quickstart/src/test/java/org/eclipse/jetty/ee9/quickstart/PreconfigureJNDIWar.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-quickstart/src/test/java/org/eclipse/jetty/ee9/quickstart/PreconfigureSpecWar.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-quickstart/src/test/java/org/eclipse/jetty/ee9/quickstart/PreconfigureStandardTestWar.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-quickstart/src/test/java/org/eclipse/jetty/ee9/quickstart/QuickStartTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-quickstart/src/test/java/org/eclipse/jetty/ee9/quickstart/Quickstart.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-quickstart/src/test/resources/test.xml
Labels: Test, Jetty 12

#9551 Jetty 12 - Review BOMs
  jetty-bom/pom.xml
  jetty-core/jetty-bom/pom.xml
  jetty-core/jetty-http2/jetty-http2-tests/pom.xml
  jetty-ee10/jetty-ee10-bom/pom.xml
  jetty-ee10/jetty-ee10-examples/pom.xml
  jetty-ee10/jetty-ee10-osgi/test-jetty-ee10-osgi/pom.xml
  jetty-ee8/jetty-ee8-bom/pom.xml
  jetty-ee9/jetty-ee9-bom/pom.xml
  jetty-ee9/jetty-ee9-osgi/test-jetty-ee9-osgi/pom.xml
Labels: Build, dependencies, Jetty 12
