Repository jetty/jetty.project, pull requests merged in 2023-01, with the labels that each got.

#9115 core: util: TypeUtil: Use method references instead of reflection
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/TypeUtil.java
Labels: Jetty 12

#9117 Removing `@Disabled` from `ConnectionPoolTest`
  jetty-core/jetty-client/src/test/java/org/eclipse/jetty/client/ConnectionPoolTest.java
Labels: Test, Jetty 12

#9122 Jetty 12 : Removing client `Usage.java` as the examples have been moved to documentation
  jetty-core/jetty-client/src/test/java/org/eclipse/jetty/client/api/Usage.java
Labels: Documentation, Build, Jetty 12

#8981 Rework client content listeners
  documentation/jetty-documentation/src/main/asciidoc/programming-guide/client/http/client-http-api.adoc
  documentation/jetty-documentation/src/main/java/org/eclipse/jetty/docs/programming/client/http/HTTPClientDocs.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/HttpRequest.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/api/Request.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/api/Response.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/util/InputStreamResponseListener.java
  jetty-core/jetty-client/src/test/java/org/eclipse/jetty/client/HttpClientAsyncContentTest.java
  jetty-core/jetty-client/src/test/java/org/eclipse/jetty/client/HttpClientChunkedContentTest.java
  jetty-core/jetty-client/src/test/java/org/eclipse/jetty/client/HttpClientTest.java
  jetty-core/jetty-fcgi/jetty-fcgi-proxy/src/test/java/org/eclipse/jetty/fcgi/proxy/FastCGIProxyHandlerTest.java
  jetty-core/jetty-fcgi/jetty-fcgi-server/src/test/java/org/eclipse/jetty/fcgi/server/HttpClientTest.java
  jetty-core/jetty-http2/jetty-http2-tests/src/test/java/org/eclipse/jetty/http2/tests/HttpClientTransportOverHTTP2Test.java
  jetty-core/jetty-http3/jetty-http3-tests/src/test/java/org/eclipse/jetty/http3/tests/HttpClientTransportOverHTTP3Test.java
  jetty-core/jetty-proxy/src/main/java/org/eclipse/jetty/proxy/ProxyHandler.java
  jetty-core/jetty-tests/jetty-test-client-transports/src/test/java/org/eclipse/jetty/test/client/transport/HttpClientDemandTest.java
  jetty-core/jetty-tests/jetty-test-client-transports/src/test/java/org/eclipse/jetty/test/client/transport/HttpClientStreamTest.java
  jetty-core/jetty-tests/jetty-test-client-transports/src/test/java/org/eclipse/jetty/test/client/transport/HttpClientTest.java
  jetty-ee10/jetty-ee10-proxy/src/main/java/org/eclipse/jetty/ee10/proxy/AsyncMiddleManServlet.java
  jetty-ee10/jetty-ee10-proxy/src/main/java/org/eclipse/jetty/ee10/proxy/ProxyServlet.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-client-transports/src/test/java/org/eclipse/jetty/ee10/test/client/transport/ServerTimeoutsTest.java
  jetty-ee9/jetty-ee9-proxy/src/main/java/org/eclipse/jetty/ee9/proxy/AsyncMiddleManServlet.java
  jetty-ee9/jetty-ee9-proxy/src/main/java/org/eclipse/jetty/ee9/proxy/ProxyServlet.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-client-transports/src/test/java/org/eclipse/jetty/ee9/test/client/transport/ServerTimeoutsTest.java
Labels: Jetty 12

#9096 Jetty 12.0.x documentation
  documentation/jetty-documentation/src/main/asciidoc/operations-guide/begin/deploy.adoc
  documentation/jetty-documentation/src/main/asciidoc/operations-guide/begin/install.adoc
  documentation/jetty-documentation/src/main/asciidoc/operations-guide/begin/start.adoc
  documentation/jetty-documentation/src/main/asciidoc/operations-guide/jaas/chapter.adoc
  documentation/jetty-documentation/src/main/asciidoc/operations-guide/jaspi/chapter.adoc
  documentation/jetty-documentation/src/main/asciidoc/operations-guide/jsp/chapter.adoc
  documentation/jetty-documentation/src/main/asciidoc/operations-guide/modules/module-requestlog.adoc
  documentation/jetty-documentation/src/main/asciidoc/operations-guide/start/chapter.adoc
  jetty-core/jetty-server/src/main/config/modules/requestlog.mod
  jetty-home/src/main/resources/README.adoc
Labels: Jetty 12

#9077 Jetty 12.0.x h2c perf improvement: implement equals/hashcode in Stream
  jetty-core/jetty-http2/jetty-http2-common/src/main/java/org/eclipse/jetty/http2/internal/HTTP2Session.java
  jetty-core/jetty-http2/jetty-http2-common/src/main/java/org/eclipse/jetty/http2/internal/HTTP2Stream.java
Labels: Jetty 12

#9133 jetty 12: ee10: DefaultServlet should initialize ResourceFactory unconditionally
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/DefaultServlet.java
Labels: Bug, Jetty 12

#9143 Remove `@Disabled` from `jetty-jmx`
  jetty-core/jetty-jmx/src/main/java/org/eclipse/jetty/jmx/ConnectorServer.java
  jetty-core/jetty-jmx/src/test/java/org/eclipse/jetty/jmx/ConnectorServerTest.java
  jetty-core/jetty-jmx/src/test/resources/jetty-logging.properties
Labels: Test, Jetty 12

#9079 Fix `getBuffer()` on cached HttpContent
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/content/CachingHttpContentFactory.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/content/FileMappingHttpContentFactory.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/content/HttpContent.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/ResourceService.java
  jetty-ee10/jetty-ee10-webapp/src/test/java/org/eclipse/jetty/ee10/webapp/WebAppDefaultServletCacheTest.java
  jetty-ee10/jetty-ee10-webapp/src/test/resources/org/acme/jetty-pic.png
Labels: Bug, Jetty 12

#8773 re-enable h3 tests
  tests/test-http-client-transport/src/test/java/org/eclipse/jetty/http/client/HttpClientLoadTest.java
Labels: Build

#9074 TCK: Dispatch forward and includes attributes do not meet the spec
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/Dispatcher.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/DispatcherTest.java
Labels: Bug, TCK, Jetty 12

#9149 Jetty 12 - Add tests in util/resource for alternate FileSystem implementations
  jetty-core/jetty-util/pom.xml
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/URIUtil.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/ResourceFactoryInternals.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/resource/AlternateFileSystemResourceTest.java
Labels: Jetty 12

#9093 jetty 12.0.x cleanup duplicate osgi pom metadata
  jetty-core/jetty-osgi/pom.xml
  jetty-ee10/jetty-ee10-osgi/jetty-ee10-osgi-alpn/pom.xml
  jetty-ee10/jetty-ee10-osgi/jetty-ee10-osgi-boot-jsp/pom.xml
  jetty-ee10/jetty-ee10-osgi/jetty-ee10-osgi-boot-warurl/pom.xml
  jetty-ee10/jetty-ee10-osgi/jetty-ee10-osgi-boot/pom.xml
  jetty-ee10/jetty-ee10-osgi/pom.xml
  jetty-ee10/jetty-ee10-osgi/test-jetty-ee10-osgi-fragment/pom.xml
  jetty-ee10/jetty-ee10-osgi/test-jetty-ee10-osgi-server/pom.xml
  jetty-ee10/jetty-ee10-osgi/test-jetty-ee10-osgi-webapp-resources/pom.xml
  jetty-ee10/jetty-ee10-osgi/test-jetty-ee10-osgi/pom.xml
  jetty-ee9/jetty-ee9-osgi/jetty-ee9-osgi-boot-jsp/pom.xml
  jetty-ee9/jetty-ee9-osgi/jetty-ee9-osgi-boot/pom.xml
  jetty-ee9/jetty-ee9-osgi/pom.xml
  jetty-ee9/jetty-ee9-osgi/test-jetty-ee9-osgi-fragment/pom.xml
  jetty-ee9/jetty-ee9-osgi/test-jetty-ee9-osgi-server/pom.xml
  jetty-ee9/jetty-ee9-osgi/test-jetty-ee9-osgi-webapp-resources/pom.xml
  jetty-ee9/jetty-ee9-osgi/test-jetty-ee9-osgi/pom.xml
  pom.xml
Labels: Build, Jetty 12

#9136 util: Add support for GraalVM Native-Image resource:-URIs and Paths
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/GraalIssue5720PathResource.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/GraalIssue5720PathResourceFactory.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/PathResource.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/ResourceFactoryInternals.java
  jetty-core/jetty-util/src/main/resources/META-INF/native-image/org.eclipse.jetty/jetty-core/resource-config.json
Labels: Jetty 12

#9171 Jetty 12 - Fix for HttpParser quick HTTP Version lookahead
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/HttpMethod.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/HttpParser.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/HttpVersion.java
  jetty-core/jetty-http/src/test/java/org/eclipse/jetty/http/HttpParserTest.java
Labels: Performance, Jetty 12

#9172 Add latency recording utility handler
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/AbstractLatencyRecordingHandler.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/LatencyRecordingHandlerTest.java
Labels: Jetty 12

#9184 Fixes #9183 - ConnectHandler may close the connection instead of send…
  jetty-proxy/src/main/java/org/eclipse/jetty/proxy/ConnectHandler.java
  jetty-proxy/src/test/java/org/eclipse/jetty/proxy/ConnectHandlerTest.java
Labels: Sponsored

#9165 Jetty 12 - Javadoc cleanup & new inspection profile
  build/build-resources/intellij-javadoc-inspection.xml
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/InputStreamResponseListener.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/ProxyConfiguration.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/transport/internal/ProtocolHttpUpgrader.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/HttpCookie.java
  jetty-core/jetty-io/src/main/java/org/eclipse/jetty/io/AbstractByteBufferPool.java
  jetty-core/jetty-osgi/src/main/java/org/eclipse/jetty/osgi/AbstractContextProvider.java
  jetty-core/jetty-osgi/src/main/java/org/eclipse/jetty/osgi/OSGiApp.java
  jetty-core/jetty-osgi/src/main/java/org/eclipse/jetty/osgi/util/DefaultBundleClassLoaderHelper.java
  jetty-core/jetty-osgi/src/main/java/org/eclipse/jetty/osgi/util/Util.java
  jetty-core/jetty-quic/jetty-quic-quiche/jetty-quic-quiche-common/src/main/java/org/eclipse/jetty/quic/quiche/QuicheConnection.java
  jetty-core/jetty-quic/jetty-quic-quiche/jetty-quic-quiche-jna/src/main/java/org/eclipse/jetty/quic/quiche/jna/JnaQuicheConnection.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/RewriteRegexRule.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/Context.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ContextHandler.java
  jetty-core/jetty-session/src/main/java/org/eclipse/jetty/session/AbstractSessionCache.java
  jetty-core/jetty-session/src/main/java/org/eclipse/jetty/session/SessionCache.java
  jetty-core/jetty-start/src/main/java/org/eclipse/jetty/start/StartArgs.java
  jetty-core/jetty-start/src/main/java/org/eclipse/jetty/start/Version.java
  jetty-core/jetty-start/src/main/java/org/eclipse/jetty/start/fileinits/MavenLocalRepoFileInitializer.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/FileID.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/IncludeExclude.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/IncludeExcludeSet.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/resource/PathResource.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/security/Constraint.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/security/UnixCrypt.java
  jetty-core/jetty-websocket/jetty-websocket-core-common/src/main/java/org/eclipse/jetty/websocket/core/internal/WebSocketSessionState.java
  jetty-ee10/jetty-ee10-jaas/src/main/java/org/eclipse/jetty/ee10/jaas/spi/AbstractDatabaseLoginModule.java
  jetty-ee10/jetty-ee10-proxy/src/main/java/org/eclipse/jetty/ee10/proxy/AbstractProxyServlet.java
  jetty-ee10/test-ee10-sessions/test-ee10-sessions-common/src/main/java/org/eclipse/jetty/ee10/session/AbstractClusteredInvalidationSessionTest.java
  jetty-ee9/jetty-ee9-jaas/src/main/java/org/eclipse/jetty/ee9/jaas/spi/AbstractDatabaseLoginModule.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ResourceHandler.java
Labels: Documentation, Jetty 12

#9162 Remove `@Disabled` from more `jetty-core/jetty-server` tests
  build/build-resources/src/main/resources/jetty-checkstyle.xml
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/ConnectorTimeoutTest.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/DetectorConnectionTest.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/ServerConnectorTimeoutTest.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/ssl/ServerConnectorSslTimeoutTest.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/ssl/SlowClientsTest.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/ssl/SslConnectionFactoryTest.java
Labels: Test, Jetty 12

#9123 Wrong value of `RequestDispatcher.FORWARD_CONTEXT_PATH` attribute on root context
  jetty-server/src/main/java/org/eclipse/jetty/server/Dispatcher.java
  jetty-servlet/src/test/java/org/eclipse/jetty/servlet/DispatcherTest.java
  jetty-servlet/src/test/resources/jetty-logging.properties
Labels: Bug, Specification

#9175 Issue #9173 - Make wrapping of `ServletApiResponse` easier
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/HttpCookie.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/DefaultServlet.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ErrorHandler.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletApiRequest.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletApiResponse.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletChannel.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextHandler.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextRequest.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextResponse.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletMultiPartFormData.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/SessionHandler.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/security/ConstraintSecurityHandler.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/security/SecurityHandler.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/security/authentication/FormAuthenticator.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/security/authentication/LoginAuthenticator.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/ServletContextHandlerTest.java
  jetty-ee10/test-ee10-sessions/test-ee10-sessions-common/src/test/java/org/eclipse/jetty/ee10/session/IdleSessionTest.java
  jetty-ee10/test-ee10-sessions/test-ee10-sessions-common/src/test/java/org/eclipse/jetty/ee10/session/SessionRenewTest.java
Labels: Jetty 12

#9174 Jetty 12 - Introduce `GracefulShutdownHandler` and Test
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/GracefulShutdownHandler.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/internal/HttpChannelState.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/GracefulShutdownTest.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/GracefulStopTest.java
  jetty-core/jetty-server/src/test/resources/jetty-logging.properties
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/component/Graceful.java
  pom.xml
Labels: Jetty 12

#9202 Jetty 12 - Add and allow plural form of existing `start.jar` args.
  documentation/jetty-documentation/src/main/asciidoc/old_docs/logging/example-apache-log4j.adoc
  documentation/jetty-documentation/src/main/asciidoc/old_docs/logging/example-java-util-logging-native.adoc
  documentation/jetty-documentation/src/main/asciidoc/old_docs/logging/example-java-util-logging.adoc
  documentation/jetty-documentation/src/main/asciidoc/old_docs/logging/example-logback.adoc
  documentation/jetty-documentation/src/main/asciidoc/old_docs/security/jetty-home-and-jetty-base.adoc
  jetty-core/jetty-start/src/main/java/org/eclipse/jetty/start/BaseBuilder.java
  jetty-core/jetty-start/src/main/java/org/eclipse/jetty/start/Environment.java
  jetty-core/jetty-start/src/main/java/org/eclipse/jetty/start/Module.java
  jetty-core/jetty-start/src/main/java/org/eclipse/jetty/start/Modules.java
  jetty-core/jetty-start/src/main/java/org/eclipse/jetty/start/StartArgs.java
  jetty-core/jetty-start/src/main/resources/org/eclipse/jetty/start/usage.txt
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/IncludeJettyDirTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/MainTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/config/ConfigSourcesTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/AgentPropertiesTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/AlternatesTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/BarebonesAddToStartTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/BarebonesAddToStartdTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/BarebonesAddUnknownTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/BarebonesAlreadyEnabledTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/BarebonesTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/BasehomeWithfilesTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/BasicPropertiesTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/BasicTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/DatabaseTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/DynamicDependTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/EmptyAddToStartCreateStartdTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/EmptyAddToStartTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/EmptyCreateStartdTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/EnvironmentsTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/Files0Test.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/LoopTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/OrderedTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/ParameterizedTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/PropertyOverrideTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/TransientIniTemplateTest.java
  jetty-core/jetty-start/src/test/java/org/eclipse/jetty/start/usecases/VersionedModulesTest.java
Labels: Jetty 12

#9156 Ensure all eeX versions of the plugin use prefix "jetty"
  jetty-ee10/jetty-ee10-maven-plugin/pom.xml
  jetty-ee8/jetty-ee8-maven-plugin/pom.xml
  jetty-ee9/jetty-ee9-maven-plugin/pom.xml
Labels: Jetty 12

#9201 Jetty 12 - Cleanup Shutdown classes
  jetty-core/jetty-server/src/main/config/etc/jetty-graceful.xml
  jetty-core/jetty-server/src/main/config/modules/graceful.mod
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/GracefulHandler.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ShutdownHandler.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/GracefulHandlerTest.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/ShutdownHandlerTest.java
Labels: Jetty 12

#9207 Jetty 12 - Fixing simple `@named` virtualhost configuration
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ContextHandler.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/ContextHandlerCollectionTest.java
Labels: Bug, Jetty 12

#9208 Removing `@Disabled` on `SecuredRedirectHandlerTest`
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/SecuredRedirectHandler.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/SecuredRedirectHandlerTest.java
Labels: Test, Jetty 12

#9203 Jetty 12 - Move test JPMS out of main `module-info.java`
  jetty-core/jetty-jndi/src/main/java/module-info.java
  jetty-core/jetty-server/pom.xml
  jetty-core/jetty-server/src/main/java/module-info.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/ssl/FixJPMS.java
Labels: Build, Jetty 12

#9197 use agent none so we do not steal an agent doing nothing except waiting for parallel builds to finish"
  Jenkinsfile
Labels: Build

#9090 keep matching exception to found errorpage
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ErrorPageErrorHandler.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/ErrorPageTest.java
  jetty-ee9/jetty-ee9-servlet/src/main/java/org/eclipse/jetty/ee9/servlet/ErrorPageErrorHandler.java
  jetty-ee9/jetty-ee9-servlet/src/test/java/org/eclipse/jetty/ee9/servlet/ErrorPageTest.java
Labels: TCK, Jetty 12

#9211 Fixes #9210 - Jetty 12 - Review Pool and Pool.Entry
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/AbstractConnectionPool.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/ConnectionPool.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/DuplexConnectionPool.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/LeakTrackingConnectionPool.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/MultiplexConnectionPool.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/RandomConnectionPool.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/RoundRobinConnectionPool.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/ValidatingConnectionPool.java
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/internal/HttpDestination.java
  jetty-core/jetty-client/src/test/java/org/eclipse/jetty/client/ConnectionPoolTest.java
  jetty-core/jetty-client/src/test/java/org/eclipse/jetty/client/DuplexHttpDestinationTest.java
  jetty-core/jetty-client/src/test/java/org/eclipse/jetty/client/HttpClientTest.java
  jetty-core/jetty-client/src/test/java/org/eclipse/jetty/client/HttpConnectionLifecycleTest.java
  jetty-core/jetty-http2/jetty-http2-tests/src/test/java/org/eclipse/jetty/http2/tests/MaxConcurrentStreamsTest.java
  jetty-core/jetty-http2/jetty-http2-tests/src/test/java/org/eclipse/jetty/http2/tests/MultiplexedConnectionPoolTest.java
  jetty-core/jetty-io/src/main/java/org/eclipse/jetty/io/ArrayRetainableByteBufferPool.java
  jetty-core/jetty-tests/jetty-test-client-transports/src/test/java/org/eclipse/jetty/test/client/transport/RoundRobinConnectionPoolTest.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/ConcurrentPool.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/LockedPool.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/Pool.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/compression/CompressionPool.java
  jetty-core/jetty-util/src/test/java/org/eclipse/jetty/util/ConcurrentPoolTest.java
  jetty-core/jetty-xml/src/main/java/org/eclipse/jetty/xml/XmlConfiguration.java
  jetty-ee10/jetty-ee10-websocket/jetty-ee10-websocket-jetty-tests/src/test/java/org/eclipse/jetty/ee10/websocket/tests/PermessageDeflateBufferTest.java
  tests/jetty-jmh/src/main/java/org/eclipse/jetty/util/PoolStrategyBenchmark.java
Labels: Jetty 12

#9213 Converted PathMappings to be an AbstractMap
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/pathmap/MappedResource.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/pathmap/PathMappings.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/pathmap/PathSpecSet.java
  jetty-core/jetty-http/src/test/java/org/eclipse/jetty/http/pathmap/PathMappingsTest.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/PathMappingsHandler.java
  jetty-core/jetty-websocket/jetty-websocket-core-server/src/main/java/org/eclipse/jetty/websocket/core/server/WebSocketMappings.java
Labels: Jetty 12

#9228 Jetty 12 - Dependency updates (with focus on isolated ee deps)
  javadoc/pom.xml
  jetty-bom/pom.xml
  jetty-ee10/jetty-ee10-jaas/pom.xml
  jetty-ee10/pom.xml
  jetty-ee9/pom.xml
  pom.xml
Labels: Build, dependencies, Jetty 12

#9205 Jetty 12 - New HTTP Cookie interface
  jetty-core/jetty-client/src/test/java/org/eclipse/jetty/client/HttpClientIdleTimeoutTest.java
  jetty-core/jetty-client/src/test/java/org/eclipse/jetty/client/HttpCookieTest.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/CookieCache.java
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/HttpCookie.java
  jetty-core/jetty-http/src/test/java/org/eclipse/jetty/http/HttpCookieTest.java
  jetty-core/jetty-rewrite/src/main/java/org/eclipse/jetty/rewrite/handler/CookiePatternRule.java
  jetty-core/jetty-session/src/main/java/org/eclipse/jetty/session/AbstractSessionManager.java
  jetty-core/jetty-session/src/main/java/org/eclipse/jetty/session/Session.java
  jetty-core/jetty-session/src/main/java/org/eclipse/jetty/session/SessionManager.java
  jetty-core/jetty-session/src/test/java/org/eclipse/jetty/session/AbstractSessionManagerTest.java
  jetty-core/jetty-session/src/test/java/org/eclipse/jetty/session/SimpleSessionHandler.java
  jetty-core/jetty-session/src/test/java/org/eclipse/jetty/session/SimpleSessionHandlerTest.java
  jetty-core/jetty-session/src/test/java/org/eclipse/jetty/session/TestableSessionManager.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletApiRequest.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletApiResponse.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextResponse.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/SessionHandler.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/security/authentication/LoginAuthenticator.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/ServletContextHandlerTest.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/SessionHandlerTest.java
  jetty-ee10/jetty-ee10-webapp/src/test/java/org/eclipse/jetty/ee10/webapp/StandardDescriptorProcessorTest.java
  jetty-ee10/jetty-ee10-websocket/jetty-ee10-websocket-jakarta-tests/src/test/java/org/eclipse/jetty/ee10/websocket/jakarta/tests/client/CookiesTest.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/Cookies.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/Request.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/Response.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/SessionHandler.java
  jetty-ee9/jetty-ee9-nested/src/test/java/org/eclipse/jetty/ee9/nested/RequestTest.java
  jetty-ee9/jetty-ee9-nested/src/test/java/org/eclipse/jetty/ee9/nested/ResponseTest.java
  jetty-ee9/jetty-ee9-nested/src/test/java/org/eclipse/jetty/ee9/nested/SessionHandlerTest.java
  jetty-ee9/jetty-ee9-security/src/main/java/org/eclipse/jetty/ee9/security/authentication/LoginAuthenticator.java
  jetty-ee9/jetty-ee9-servlet/src/test/java/org/eclipse/jetty/ee9/servlet/ServletContextHandlerTest.java
  jetty-ee9/jetty-ee9-websocket/jetty-ee9-websocket-jakarta-tests/src/test/java/org/eclipse/jetty/ee9/websocket/jakarta/tests/client/CookiesTest.java
Labels: Enhancement, Jetty 12

#9230 Remove duplicate osgi dependency declarations in top level pom
  pom.xml
Labels: Bug, Jetty 12
