Repository jetty/jetty.project, pull requests merged in 2023-02, with the labels that each got.

#9225 Jetty 12.0.x silence tests' stacktraces
  jetty-core/jetty-http2/jetty-http2-server/src/main/java/org/eclipse/jetty/http2/server/internal/HttpStreamOverHTTP2.java
  jetty-core/jetty-http2/jetty-http2-tests/src/test/java/org/eclipse/jetty/http2/tests/IdleTimeoutTest.java
  jetty-core/jetty-http3/jetty-http3-server/src/main/java/org/eclipse/jetty/http3/server/internal/HttpStreamOverHTTP3.java
  jetty-core/jetty-io/src/test/java/org/eclipse/jetty/io/SocketChannelEndPointTest.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/Response.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/ConnectorTimeoutTest.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/DetectorConnectionTest.java
Labels: Enhancement, Test, Jetty 12

#9224 Jetty 12.0.x reenable jetty ee9 tests
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/java/org/eclipse/jetty/ee10/test/rfcs/RFC2616BaseTest.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ContextHandler.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-bad-websocket-webapp/pom.xml
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-cdi/pom.xml
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-cdi/src/test/java/org/eclipse/jetty/ee9/cdi/tests/EmbeddedWeldTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-cdi/src/test/java/org/eclipse/jetty/ee9/cdi/tests/websocket/JavaxWebSocketCdiTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-cdi/src/test/java/org/eclipse/jetty/ee9/cdi/tests/websocket/JettyWebSocketCdiTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-http2-webapp/src/main/java/org/eclipse/jetty/test/webapp/HTTP1Servlet.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-http2-webapp/src/test/java/org/eclipse/jetty/test/webapp/HTTP2FromWebAppIT.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/pom.xml
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/java/org/eclipse/jetty/ee9/test/AliasCheckerSymlinkTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/java/org/eclipse/jetty/ee9/test/AllowedResourceAliasCheckerTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/java/org/eclipse/jetty/ee9/test/AnnotatedAsyncListenerTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/java/org/eclipse/jetty/ee9/test/CustomRequestLogTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/java/org/eclipse/jetty/ee9/test/DeploymentErrorTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/java/org/eclipse/jetty/ee9/test/DigestPostTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/java/org/eclipse/jetty/ee9/test/FailedSelectorTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/java/org/eclipse/jetty/ee9/test/GzipWithSendErrorTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/java/org/eclipse/jetty/ee9/test/HttpInputIntegrationTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/java/org/eclipse/jetty/ee9/test/HttpInputInterceptorTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/java/org/eclipse/jetty/ee9/test/jsp/FakeJspServlet.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/java/org/eclipse/jetty/ee9/test/jsp/JspAndDefaultWithAliasesTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/java/org/eclipse/jetty/ee9/test/jsp/JspAndDefaultWithoutAliasesTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/java/org/eclipse/jetty/ee9/test/rfcs/RFC2616BaseTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/java/org/eclipse/jetty/ee9/test/support/EchoHandler.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/java/org/eclipse/jetty/ee9/test/support/XmlBasedJettyServer.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/java/org/eclipse/jetty/ee9/test/websocket/JakartaWebSocketTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/java/org/eclipse/jetty/ee9/test/websocket/JettyWebSocketTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/resources/DefaultHandler.xml
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/resources/RFC2616Base.xml
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/resources/RFC2616_Redirects.xml
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/resources/add-jetty-test-webapp.xml
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/resources/basic-server.xml
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/resources/deploy.xml
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/resources/docroots/deployerror/badapp/WEB-INF/classes/META-INF/services/jakarta.servlet.ServletContainerInitializer
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/resources/login-service.xml
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/resources/webapp-contexts/RFC2616/rfc2616-webapp.properties
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-integration/src/test/resources/webapp-contexts/RFC2616/rfc2616-webapp.xml
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-loginservice/src/test/java/org/eclipse/jetty/ee9/loginservice/DataSourceLoginServiceTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-loginservice/src/test/java/org/eclipse/jetty/ee9/loginservice/DatabaseLoginServiceTestServer.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-loginservice/src/test/java/org/eclipse/jetty/ee9/loginservice/JdbcLoginServiceTest.java
  jetty-ee9/jetty-ee9-tests/pom.xml
  tests/test-distribution/test-distribution-common/pom.xml
  tests/test-distribution/test-distribution-common/src/test/java/org/eclipse/jetty/tests/distribution/BadAppTests.java
Labels: Test, Jetty 12

#9274 retry failing tests one more time
  Jenkinsfile
Labels: Build

#9279 Fix jetty-start test failure due to missing external resources
  jetty-start/src/test/java/org/eclipse/jetty/start/fileinits/MavenLocalRepoFileInitializerTest.java
Labels: Build

#9278 Add null checks to methods that can be used on a stopped pool
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/AbstractConnectionPool.java
  jetty-core/jetty-client/src/test/java/org/eclipse/jetty/client/ConnectionPoolTest.java
Labels: Bug, Jetty 12

#9282 Jetty 10 - Dependency Roll-up February 2023
  pom.xml
Labels: dependencies

#9236 Jetty 12 - Removing unused / old deps from ee10
  jetty-ee10/jetty-ee10-ant/pom.xml
  jetty-ee10/jetty-ee10-demos/jetty-ee10-demo-jndi-webapp/pom.xml
  jetty-ee10/jetty-ee10-osgi/test-jetty-ee10-osgi/pom.xml
  jetty-ee10/jetty-ee10-osgi/test-jetty-ee10-osgi/src/test/java/org/eclipse/jetty/ee10/osgi/test/TestJettyOSGiBootHTTP2Conscrypt.java
  jetty-ee10/jetty-ee10-osgi/test-jetty-ee10-osgi/src/test/java/org/eclipse/jetty/ee10/osgi/test/TestJettyOSGiBootHTTP2JDK9.java
  jetty-ee10/jetty-ee10-osgi/test-jetty-ee10-osgi/src/test/java/org/eclipse/jetty/ee10/osgi/test/TestJettyOSGiBootWithAnnotations.java
  jetty-ee10/jetty-ee10-osgi/test-jetty-ee10-osgi/src/test/java/org/eclipse/jetty/ee10/osgi/test/TestJettyOSGiBootWithJakartaWebSocket.java
  jetty-ee10/jetty-ee10-osgi/test-jetty-ee10-osgi/src/test/java/org/eclipse/jetty/ee10/osgi/test/TestJettyOSGiBootWithJsp.java
  jetty-ee10/jetty-ee10-osgi/test-jetty-ee10-osgi/src/test/java/org/eclipse/jetty/ee10/osgi/test/TestJettyOSGiBootWithWebSocket.java
  jetty-ee10/jetty-ee10-osgi/test-jetty-ee10-osgi/src/test/java/org/eclipse/jetty/ee10/osgi/test/TestJettyOSGiClasspathResources.java
  jetty-ee10/pom.xml
  tests/test-distribution/test-distribution-common/src/test/java/org/eclipse/jetty/tests/distribution/DistributionTests.java
Labels: Build, dependencies, Jetty 12

#9280 Fix connection pool's forcible stop
  jetty-core/jetty-client/src/main/java/org/eclipse/jetty/client/AbstractConnectionPool.java
  jetty-core/jetty-tests/jetty-test-client-transports/src/test/java/org/eclipse/jetty/test/client/transport/HttpClientStreamTest.java
Labels: Bug, Jetty 12

#9281 Get rid of unnecessary stack traces printed by H3
  jetty-core/jetty-quic/jetty-quic-common/src/main/java/org/eclipse/jetty/quic/common/ProtocolSession.java
Labels: Bug, Jetty 12

#9223 Jetty 12 - Added a core Session abstraction
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/Request.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/Session.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ContextHandler.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/ContextRequest.java
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/internal/HttpChannelState.java
  jetty-core/jetty-session/src/main/java/org/eclipse/jetty/session/AbstractSessionCache.java
  jetty-core/jetty-session/src/main/java/org/eclipse/jetty/session/AbstractSessionManager.java
  jetty-core/jetty-session/src/main/java/org/eclipse/jetty/session/DefaultSessionCache.java
  jetty-core/jetty-session/src/main/java/org/eclipse/jetty/session/ManagedSession.java
  jetty-core/jetty-session/src/main/java/org/eclipse/jetty/session/NullSessionCache.java
  jetty-core/jetty-session/src/main/java/org/eclipse/jetty/session/SessionCache.java
  jetty-core/jetty-session/src/main/java/org/eclipse/jetty/session/SessionInactivityTimer.java
  jetty-core/jetty-session/src/main/java/org/eclipse/jetty/session/SessionManager.java
  jetty-core/jetty-session/src/test/java/org/eclipse/jetty/session/AbstractSessionCacheTest.java
  jetty-core/jetty-session/src/test/java/org/eclipse/jetty/session/AbstractSessionManagerTest.java
  jetty-core/jetty-session/src/test/java/org/eclipse/jetty/session/DefaultSessionCacheTest.java
  jetty-core/jetty-session/src/test/java/org/eclipse/jetty/session/DirtyAttributeTest.java
  jetty-core/jetty-session/src/test/java/org/eclipse/jetty/session/NullSessionCacheTest.java
  jetty-core/jetty-session/src/test/java/org/eclipse/jetty/session/SessionListenerTest.java
  jetty-core/jetty-session/src/test/java/org/eclipse/jetty/session/SimpleSessionHandler.java
  jetty-core/jetty-session/src/test/java/org/eclipse/jetty/session/SimpleSessionHandlerTest.java
  jetty-core/jetty-session/src/test/java/org/eclipse/jetty/session/TestableRequest.java
  jetty-core/jetty-session/src/test/java/org/eclipse/jetty/session/TestableSessionConsumer.java
  jetty-core/jetty-session/src/test/java/org/eclipse/jetty/session/TestableSessionManager.java
  jetty-core/jetty-util/src/main/java/org/eclipse/jetty/util/Attributes.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ErrorHandler.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletApiRequest.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletApiResponse.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextHandler.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextRequest.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletContextResponse.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/ServletMultiPartFormData.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/SessionHandler.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/security/authentication/LoginAuthenticator.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/ServletContextHandlerTest.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/SessionHandlerTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-sessions/jetty-ee10-test-sessions-common/src/main/java/org/eclipse/jetty/ee10/session/AbstractClusteredSessionScavengingTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-sessions/jetty-ee10-test-sessions-common/src/test/java/org/eclipse/jetty/ee10/session/DeleteUnloadableSessionTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-sessions/jetty-ee10-test-sessions-common/src/test/java/org/eclipse/jetty/ee10/session/DuplicateCookieTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-sessions/jetty-ee10-test-sessions-common/src/test/java/org/eclipse/jetty/ee10/session/IdleSessionTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-sessions/jetty-ee10-test-sessions-common/src/test/java/org/eclipse/jetty/ee10/session/ModifyMaxInactiveIntervalTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-sessions/jetty-ee10-test-sessions-common/src/test/java/org/eclipse/jetty/ee10/session/SessionRenewTest.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/ContextHandler.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/HttpChannel.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/Request.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/Response.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/SessionHandler.java
  jetty-ee9/jetty-ee9-nested/src/test/java/org/eclipse/jetty/ee9/nested/RequestTest.java
  jetty-ee9/jetty-ee9-nested/src/test/java/org/eclipse/jetty/ee9/nested/ResponseTest.java
  jetty-ee9/jetty-ee9-nested/src/test/java/org/eclipse/jetty/ee9/nested/SessionHandlerTest.java
  jetty-ee9/jetty-ee9-security/src/main/java/org/eclipse/jetty/ee9/security/authentication/LoginAuthenticator.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-sessions/jetty-ee9-test-sessions-common/src/main/java/org/eclipse/jetty/ee9/session/AbstractClusteredSessionScavengingTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-sessions/jetty-ee9-test-sessions-common/src/test/java/org/eclipse/jetty/ee9/session/DeleteUnloadableSessionTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-sessions/jetty-ee9-test-sessions-common/src/test/java/org/eclipse/jetty/ee9/session/DuplicateCookieTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-sessions/jetty-ee9-test-sessions-common/src/test/java/org/eclipse/jetty/ee9/session/IdleSessionTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-sessions/jetty-ee9-test-sessions-common/src/test/java/org/eclipse/jetty/ee9/session/ModifyMaxInactiveIntervalTest.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-sessions/jetty-ee9-test-sessions-common/src/test/java/org/eclipse/jetty/ee9/session/SessionRenewTest.java
Labels: Jetty 12

#9234 Issue #9233 - Fix some JPMS issues for websocket-core
  jetty-core/jetty-websocket/jetty-websocket-core-common/src/main/java/org/eclipse/jetty/websocket/core/Frame.java
  jetty-core/jetty-websocket/jetty-websocket-core-server/src/main/java/org/eclipse/jetty/websocket/core/server/ServerUpgradeRequest.java
  jetty-core/jetty-websocket/jetty-websocket-core-server/src/main/java/org/eclipse/jetty/websocket/core/server/ServerUpgradeResponse.java
  jetty-core/jetty-websocket/jetty-websocket-core-server/src/main/java/org/eclipse/jetty/websocket/core/server/internal/ServerUpgradeRequestImpl.java
  jetty-core/jetty-websocket/jetty-websocket-core-server/src/main/java/org/eclipse/jetty/websocket/core/server/internal/ServerUpgradeResponseImpl.java
  jetty-core/jetty-websocket/jetty-websocket-core-server/src/main/java/org/eclipse/jetty/websocket/core/server/internal/WebSocketNegotiation.java
Labels: Jetty 12

#9283 Jetty 10 - Configurable Unsafe Host Header
  jetty-http/src/main/java/org/eclipse/jetty/http/HttpCompliance.java
  jetty-http/src/main/java/org/eclipse/jetty/http/HttpParser.java
  jetty-http/src/test/java/org/eclipse/jetty/http/HttpParserTest.java
  jetty-util/src/main/java/org/eclipse/jetty/util/HostPort.java
  jetty-util/src/test/java/org/eclipse/jetty/util/HostPortTest.java
Labels: Enhancement, Sponsored

#9193 Issue #9067 - Fixes to include dispatch for pathInContext and welcome files.
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/DefaultServlet.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/DefaultServletTest.java
Labels: Jetty 12

#9310 Issue #9309 - Introducing test for requestlog format with spaces
  tests/test-distribution/src/test/java/org/eclipse/jetty/tests/distribution/DistributionTests.java
Labels: Test

#9291 Jetty 12: Cleanup `StatisticsHandler`
  documentation/jetty-documentation/src/main/asciidoc/old_docs/extras/statistics-handler.adoc
  documentation/jetty-documentation/src/main/asciidoc/programming-guide/server/http/server-http-handler-use.adoc
  documentation/jetty-documentation/src/main/java/org/eclipse/jetty/docs/programming/server/http/HTTPServerDocs.java
  jetty-core/jetty-server/src/main/config/etc/jetty-statistics.xml
  jetty-core/jetty-server/src/main/config/modules/statistics.mod
  jetty-core/jetty-server/src/main/config/modules/stats.mod
  jetty-core/jetty-server/src/main/java/org/eclipse/jetty/server/handler/StatisticsHandler.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/StatisticsHandlerTest.java
  jetty-ee10/jetty-ee10-runner/src/main/java/org/eclipse/jetty/ee10/runner/Runner.java
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/StatisticsServlet.java
  jetty-ee10/jetty-ee10-servlet/src/test/java/org/eclipse/jetty/ee10/servlet/StatisticsServletTest.java
  jetty-ee9/jetty-ee9-nested/src/main/java/org/eclipse/jetty/ee9/nested/StatisticsHandler.java
  jetty-ee9/jetty-ee9-servlet/src/main/java/org/eclipse/jetty/ee9/servlet/StatisticsServlet.java
  jetty-ee9/jetty-ee9-servlet/src/test/java/org/eclipse/jetty/ee9/servlet/StatisticsServletTest.java
  tests/test-distribution/test-distribution-common/src/test/java/org/eclipse/jetty/tests/distribution/ModulesTest.java
Labels: Enhancement, Jetty 12

#9332 Jetty 12 Hazelcast 5.x and disable auto detection/multicast"
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-sessions/jetty-ee10-test-sessions-hazelcast/pom.xml
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-sessions/jetty-ee10-test-sessions-hazelcast/src/test/java/org/eclipse/jetty/ee10/session/hazelcast/ClusteredOrphanedSessionTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-sessions/jetty-ee10-test-sessions-hazelcast/src/test/java/org/eclipse/jetty/ee10/session/hazelcast/HazelcastTestHelper.java
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-sessions/jetty-ee9-test-sessions-hazelcast/pom.xml
  jetty-ee9/jetty-ee9-tests/jetty-ee9-test-sessions/jetty-ee9-test-sessions-hazelcast/src/test/java/org/eclipse/jetty/ee9/session/hazelcast/HazelcastTestHelper.java
  jetty-integrations/jetty-hazelcast/pom.xml
  pom.xml
Labels: Build

#9303 Issue #9301 Fix dependencies for ee10-glassfish-jstl module
  jetty-ee10/jetty-ee10-glassfish-jstl/pom.xml
  jetty-ee10/jetty-ee10-glassfish-jstl/src/main/config/modules/ee10-glassfish-jstl.mod
  jetty-ee10/jetty-ee10-home/pom.xml
Labels: Jetty 12

#9235 Issue #9233 - cleanup of websocket-core-common util package
  jetty-core/jetty-websocket/jetty-websocket-core-common/src/main/java/org/eclipse/jetty/websocket/core/internal/util/InvokerUtils.java
  jetty-core/jetty-websocket/jetty-websocket-core-common/src/main/java/org/eclipse/jetty/websocket/core/internal/util/ReflectUtils.java
  jetty-core/jetty-websocket/jetty-websocket-core-common/src/main/java/org/eclipse/jetty/websocket/core/internal/util/TextUtils.java
Labels: Jetty 12

#9331 Jetty 10 Upgrade to Hazelcast 5 and totally disable auto join multicast etc.. (fix build on CI)
  jetty-hazelcast/src/test/java/org/eclipse/jetty/hazelcast/session/TestHazelcastSessions.java
  jetty-hazelcast/src/test/resources/hazelcast-test-config.xml
  pom.xml
  tests/test-sessions/test-hazelcast-sessions/pom.xml
  tests/test-sessions/test-hazelcast-sessions/src/test/java/org/eclipse/jetty/hazelcast/session/HazelcastTestHelper.java
Labels: Test, Build

#9338 LowResourceMonitor.getReasons should include detailed reason instead …
  jetty-server/src/main/java/org/eclipse/jetty/server/LowResourceMonitor.java
Labels: Enhancement, Sponsored

#9214 Jetty 12 - Restore ee10 tests
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/ByteRange.java
  jetty-core/jetty-http/src/test/java/org/eclipse/jetty/http/ByteRangeTest.java
  jetty-core/jetty-server/src/test/java/org/eclipse/jetty/server/handler/EchoHandler.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-http2-webapp/src/main/java/org/eclipse/jetty/test/webapp/HTTP1Servlet.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-http2-webapp/src/test/java/org/eclipse/jetty/test/webapp/HTTP2FromWebAppIT.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/pom.xml
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/java/org/eclipse/jetty/ee10/test/AliasCheckerSymlinkTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/java/org/eclipse/jetty/ee10/test/AllowedResourceAliasCheckerTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/java/org/eclipse/jetty/ee10/test/AnnotatedAsyncListenerTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/java/org/eclipse/jetty/ee10/test/CustomRequestLogTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/java/org/eclipse/jetty/ee10/test/DeploymentErrorTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/java/org/eclipse/jetty/ee10/test/DigestPostTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/java/org/eclipse/jetty/ee10/test/FailedSelectorTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/java/org/eclipse/jetty/ee10/test/GzipWithSendErrorTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/java/org/eclipse/jetty/ee10/test/HttpInputIntegrationTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/java/org/eclipse/jetty/ee10/test/HttpInputInterceptorTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/java/org/eclipse/jetty/ee10/test/KeyStoreScannerTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/java/org/eclipse/jetty/ee10/test/jsp/FakeJspServlet.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/java/org/eclipse/jetty/ee10/test/jsp/JspAndDefaultWithAliasesTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/java/org/eclipse/jetty/ee10/test/jsp/JspAndDefaultWithoutAliasesTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/java/org/eclipse/jetty/ee10/test/rfcs/RFC2616BaseTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/java/org/eclipse/jetty/ee10/test/support/XmlBasedJettyServer.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/java/org/eclipse/jetty/ee10/test/websocket/JakartaWebSocketTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/java/org/eclipse/jetty/ee10/test/websocket/JettyWebSocketTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/resources/RFC2616Base.xml
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/resources/RFC2616_Redirects.xml
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/resources/deploy.xml
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/resources/docroots/deployerror/badapp/WEB-INF/classes/META-INF/services/jakarta.servlet.ServletContainerInitializer
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/resources/login-service.xml
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/resources/webapp-contexts/RFC2616/rfc2616-webapp.properties
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/resources/webapp-contexts/RFC2616/rfc2616-webapp.xml
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-integration/src/test/resources/webdefault-ee10.xml
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-loginservice/src/test/java/org/eclipse/jetty/ee10/loginservice/DataSourceLoginServiceTest.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-loginservice/src/test/java/org/eclipse/jetty/ee10/loginservice/DatabaseLoginServiceTestServer.java
  jetty-ee10/jetty-ee10-tests/jetty-ee10-test-loginservice/src/test/java/org/eclipse/jetty/ee10/loginservice/JdbcLoginServiceTest.java
  jetty-ee10/jetty-ee10-tests/pom.xml
Labels: Test, Jetty 12

#9383 Reinstate ee9 jetty runner.
  jetty-ee9/jetty-ee9-runner/pom.xml
  jetty-ee9/jetty-ee9-runner/src/it/demo-simple-webapp-runner-with-path/pom.xml
  jetty-ee9/jetty-ee9-runner/src/it/demo-simple-webapp-runner/pom.xml
  jetty-ee9/jetty-ee9-runner/src/it/test-jar-manifest/pom.xml
  jetty-ee9/jetty-ee9-runner/src/it/test-jar-manifest/postbuild.groovy
  jetty-ee9/jetty-ee9-runner/src/main/java/org/eclipse/jetty/ee9/runner/Runner.java
  jetty-ee9/jetty-ee9-runner/src/test/java/org/eclipse/jetty/ee9/maven/jettyrunner/it/IntegrationTestJettyRunner.java
  jetty-ee9/pom.xml
Labels: Jetty 12

#9402 Fix #9334 Cookie Compliance
  jetty-http/src/main/java/org/eclipse/jetty/http/CookieCompliance.java
  jetty-http/src/main/java/org/eclipse/jetty/http/CookieParser.java
  jetty-http/src/main/java/org/eclipse/jetty/http/HttpCookie.java
  jetty-http/src/main/java/org/eclipse/jetty/http/RFC6265CookieParser.java
  jetty-http/src/test/java/org/eclipse/jetty/http/RFC6265CookieParserLenientTest.java
  jetty-http/src/test/java/org/eclipse/jetty/http/RFC6265CookieParserTest.java
  jetty-server/src/main/config/etc/jetty.xml
  jetty-server/src/main/config/modules/server.mod
  jetty-server/src/main/java/org/eclipse/jetty/server/Cookies.java
  jetty-server/src/test/java/org/eclipse/jetty/server/ServerHttpCookieTest.java
Labels: High Priority

#9404 Issue #9403 sendError(404) not setError(404) for DefaultServlet
  jetty-ee10/jetty-ee10-servlet/src/main/java/org/eclipse/jetty/ee10/servlet/DefaultServlet.java
Labels: TCK, Jetty 12

#9437 Dependency Rollup (and fixes) for `jetty-9.4.x`
  jetty-cdi/pom.xml
  jetty-client/pom.xml
  jetty-infinispan/infinispan-common/pom.xml
  jetty-infinispan/infinispan-embedded-query/pom.xml
  jetty-infinispan/infinispan-embedded/pom.xml
  jetty-infinispan/infinispan-remote-query/pom.xml
  jetty-infinispan/infinispan-remote/pom.xml
  pom.xml
Labels: Build, dependencies

#9439 Dependency Rollup (and fixes) for `jetty-10.0.x`
  jetty-p2/pom.xml
  pom.xml
Labels: Build, dependencies

#9411 Fix `HugeResourceTest`
  jetty-core/jetty-http/src/main/java/org/eclipse/jetty/http/MultiPartFormData.java
  jetty-ee10/jetty-ee10-webapp/src/test/java/org/eclipse/jetty/ee10/webapp/HugeResourceTest.java
Labels: Bug, Jetty 12
